<div class="container">

  <div class="row">
    <div class="col-md-12 col-lg-12 mx-0 px-0">
      <div>
        <h1 class="dialog-title">Add User</h1>
      </div>
    </div>
  </div>

  <div class="row mx-0 px-0 mt-3">
    <div class="col-md-12 col-lg-12 mx-0 px-0">
      <!--  -->
      <mat-dialog-content class="mat-dialog-view">


        <div class="row mx-0 px-0">
          <div class="col-md-12 col-lg-12 mx-0 px-0">


            <form [formGroup]="createform">

              <div class="row form-group">
                <div class="col-md-12 col-lg-12 px-0 mx-0">
                  <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput placeholder="" value="">
                    <mat-error *ngIf="createform.get('username').errors && createform.get('username').touched">
                      Username is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!--  -->

              <div class="row form-group">
                <div class="col-md-12 col-lg-12 px-0 mx-0">
                  <mat-form-field class="full-width">
                    <mat-label>Firstname</mat-label>
                    <input formControlName="fname" matInput placeholder="" value="">
                    <mat-error *ngIf="createform.get('fname').errors && createform.get('fname').touched">
                      Firstname is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 col-lg-12 px-0 mx-0">
                  <mat-form-field class="full-width">
                    <mat-label>Middlename</mat-label>
                    <input formControlName="mname" matInput placeholder="" value="">
                    <!-- <mat-error *ngIf="createform.get('mname').errors && createform.get('mname').touched">
                      Middlename is <span><b>required</b></span>
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 col-lg-12 px-0 mx-0">
                  <mat-form-field class="full-width">
                    <mat-label>Lastname</mat-label>
                    <input formControlName="lname" matInput placeholder="" value="">
                    <mat-error *ngIf="createform.get('lname').errors && createform.get('lname').touched">
                      Lastname is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- --- -->

              <div class="row form-group">
                <div class="col-md-12 col-lg-12 px-0 mx-0">

                  <mat-form-field class="full-width">
                    <mat-label>Email Address</mat-label>
                    <input formControlName="email_add" matInput placeholder="" value="">
                    <mat-error
                      *ngIf="createform.get('email_add').errors?.required && createform.get('email_add').touched">
                      Email is <span><b>required</b></span>
                    </mat-error>
                    <mat-error *ngIf="createform.get('email_add').errors?.email && createform.get('email_add').touched">
                      Email is <span><b>invalid</b></span>
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>

              <!-- [pattern]="mobNumberPattern" -->

              <div class="row form-group">
                <div class="col-md-12 col-lg-12 px-0 mx-0">
                  <mat-form-field class="full-width">
                    <mat-label>Contact No.</mat-label>
                    <input (keypress)="numberOnly($event)" [pattern]="mobNumberPattern" formControlName="contact_no"
                      matInput placeholder="" value="">
                    <mat-error
                      *ngIf="createform.get('contact_no').errors?.required && createform.get('contact_no').touched">
                      Contact No. is <span><b>required</b></span>
                    </mat-error>
                    <mat-error
                      *ngIf="createform.get('contact_no').errors?.minlength && createform.get('contact_no').touched">
                      Must only contain <span><b>10 Digit</b></span>
                    </mat-error>
                    <mat-error
                      *ngIf="createform.get('contact_no').errors?.maxlength && createform.get('contact_no').touched">
                      Must only contain <span><b>10 Digit</b></span>
                    </mat-error>
                    <mat-error
                      *ngIf="createform.get('contact_no').errors?.pattern && createform.get('contact_no').touched">
                      Mobile number is <span><b>Invalid</b></span>
                    </mat-error>




                  </mat-form-field>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 col-lg-12 px-0 mx-0">
                  <mat-form-field class="full-width">
                    <mat-label>Address</mat-label>
                    <input formControlName="address" matInput placeholder="" value="">
                    <mat-error *ngIf="createform.get('address').errors && createform.get('address').touched">
                      Address is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 col-lg-12 px-0 mx-0">

                  <mat-form-field class="full-width">
                    <mat-label>Select Role</mat-label>
                    <mat-select formControlName="user_role" placeholder="">
                      <mat-option value="2">Custodian</mat-option>
                      <mat-option value="3">Adviser</mat-option>
                      <mat-option value="4">IT facilitator</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>



              <div class="row form-group">
                <div class="col-md-12 col-lg-12 px-0 mx-0">
                  <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" formControlName="password" matInput placeholder="" value="">
                    <mat-error *ngIf="createform.get('password').errors && createform.get('password').touched">
                      Password is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12 col-lg-12 px-0 mx-0">
                  <mat-form-field class="full-width">
                    <mat-label>Retype Password</mat-label>
                    <input formControlName="re_enterpass" [type]="hide ? 'password' : 'text'" matInput placeholder=""
                      value="">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                      *ngIf="createform.get('re_enterpass').errors?.required && createform.get('re_enterpass').touched">
                      Password is <span><b>required</b></span>
                    </mat-error>
                    <mat-error
                      *ngIf="createform.get('re_enterpass').errors?.notEquivalent && createform.get('re_enterpass').touched">
                      Password and Confirm Password doesn't match.
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>

              <!-- NOTE -->
              <div class="row mt-3">
                <div class="col-md-12 col-lg-12 px-0 mx-0">
                  <div>
                    <span class="note-design">Note:</span><span class="font-italic"><i>Please enter valid mobile number
                        for SMS Notification</i></span>
                  </div>
                </div>
              </div>

            </form>
            <!-- end -->
          </div>
        </div>
      </mat-dialog-content>
      <!--  -->
    </div>
  </div>
  <mat-dialog-actions align="end" style="margin-bottom: 20pxx;">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </mat-dialog-actions>

</div>
