


  <!-- <div class="row p-5">
    <div class="col-md-12 co-lg-12">

      <div>
        <button class="btn btn-primary" type="button" (click)="addServices()" >
          Add New
        </button>
      </div>

    </div>
  </div> -->



  <!--  -->


<div class="row mt-3">
  <div class="col-md-12 col-lg-12">

    <div style="float:left">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input matInput type="text" #inp>
      </mat-form-field>
      <!-- button -->
      <button (click)="applyFilter(inp.value)" class=" btn customized_add_btn">
        Search
      </button>
    </div>


    <div style="float: right;">
      <div class="px-0 mx-0" style="height: 45px;">
        <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
          [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
      </div>
    </div>



  </div>
</div>


<div class="table-container mt-3">
  <table mat-table [dataSource]="dataSourceAll">

    <ng-container matColumnDef="number">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> No. </th>
      <td style="width: auto;" mat-cell *matCellDef="let element; let i = index">
        {{i + (this.paginate.pageSize * this.paginate.page) + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Name </th>
      <td style="width: auto;" mat-cell *matCellDef="let element">
        <!-- <div *ngFor="let item of element?.client_table"> -->
          {{element?.client_table?.fname}} &nbsp;  {{element?.client_table?.mname}} &nbsp;  {{element?.client_table?.lname}}
        <!-- </div> -->
       </td>
    </ng-container>



    <ng-container matColumnDef="service_name">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Service </th>
      <td style="width: auto;" mat-cell *matCellDef="let element">
        <div *ngFor="let item of element?.service">
          {{item?.service_name}}
        </div>

      </td>
    </ng-container>



    <ng-container matColumnDef="price">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef>Teeth x Price</th>
      <td style="width: auto;" mat-cell *matCellDef="let element">
        <div *ngFor="let item of element?.service">
          {{item?.noTeeth}} x {{item?.price_service}}
        </div> </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Total </th>
      <td style="width: auto;" mat-cell *matCellDef="let element">{{element?.total}} </td>
    </ng-container>


    <ng-container matColumnDef="date">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Date </th>
      <td style="width: auto;" mat-cell *matCellDef="let element"> {{element?.created_date | date}}</td>
    </ng-container>




    <!-- Symbol Column -->
    <ng-container matColumnDef="conttrols">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Controls </th>
      <td mat-cell *matCellDef="let element">
        <!-- <div *ngIf="element.user_status === 'Scheduled' ">
              <button (click)="openReject(element.id)" matTooltip="Delete"  matTooltipPosition="right"  class="button-in-search-text btn customized_add_btn_delete">
                Reject
              </button>
            </div> -->
        <!-- <div class="d-flex" *ngIf="element.user_status === 'Waiting'">
          <div>
            <button (click)="openReject(element.id, element.client_table.contact_no)" matTooltip="Reject"
              matTooltipPosition="right" class="button-in-search-text btn customized_add_btn_delete">
              Cancel
            </button>
          </div>

          <div>
            <button (click)="openConfirmDialog(element.id, element.client_id, element.appointment_date, element.appointment_time, element.appointment_category)" matTooltip="Confirm"
              matTooltipPosition="right" class="button-in-search-text btn customized_add_btn_confirm">
              Confirmed Scheduled
            </button>
          </div>
        </div> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsAll; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAll;"></tr>
  </table>

</div>


