<div class="row" style="padding: 0px; margin: 0px;">
  <div class="col-md-12 col-lg-12">
    <h1 mat-dialog-title style="margin-top: 20px;">Return</h1>
  </div>
</div>
<mat-dialog-content style="width: 400px; padding: 0px; margin: 0px;">
  <form [formGroup]="createform">



    <!-- <div class="row form-group" style="padding: 0px; margin: 0px;">
        <div class="col-md-12 col-lg-12">
          <mat-form-field class="full-width">
            <mat-label>Please Select One</mat-label>
            <mat-select class="example-full-width" disableRipple formControlName="item_name"
              (selectionChange)="onChangeItem($event)">
              <mat-option *ngFor="let itemarr of itemArr" [value]="itemarr">{{itemarr?.item_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Item Name</mat-label>
          <input formControlName="item_name" matInput placeholder="">
          <mat-error *ngIf="createform.get('item_name').errors && createform.get('item_name').touched">
            Item name is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Borrower's Name</mat-label>
          <input formControlName="borrower_name" matInput placeholder="">
          <mat-error *ngIf="createform.get('borrower_name').errors && createform.get('borrower_name').touched">
            Name is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Item Quantity</mat-label>
          <input (keypress)="numberOnly($event)" formControlName="item_quantity" matInput placeholder="">
          <mat-error
            *ngIf="createform.get('item_quantity').errors?.required && createform.get('item_quantity').touched">
            Quantity is <span><b>required</b></span>
          </mat-error>
          <!-- <mat-error
            *ngIf="createform.get('item_quantity').errors?.maxlength && createform.get('item_quantity').touched">
            Quantity only contain <span><b>3 Digit</b></span>
          </mat-error> -->
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Available Stocks</mat-label>
          <input readonly formControlName="available_stocks" matInput placeholder="">
        </mat-form-field>
      </div>
    </div>


    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Item Brand</mat-label>
          <input readonly formControlName="item_brand" matInput placeholder="">
          <mat-error *ngIf="createform.get('item_brand').errors && createform.get('item_brand').touched">
            Brand is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Item unit</mat-label>
          <input readonly formControlName="item_unit" matInput placeholder="">
          <mat-error *ngIf="createform.get('item_unit').errors && createform.get('item_unit').touched">
            Unit is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Select Status</mat-label>
          <mat-select formControlName="item_category" [(ngModel)]="selected">
            <mat-option value="Available">Available</mat-option>
            <mat-option value="Serviceable">Serviceable</mat-option>
            <mat-option value="Repair">For Repair</mat-option>
            <mat-option value="Disposal">For Disposal</mat-option>
          </mat-select>
          <mat-error *ngIf="createform.get('item_category').errors && createform.get('item_category').touched">
            Status is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>


    <div *ngIf="selected == 'Disposal' || selected == 'Repair'" class="row form-group"
      style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Reason</mat-label>
          <textarea matInput formControlName="item_reason" cols="3"></textarea>
        </mat-form-field>
      </div>
    </div>


  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" style="margin-bottom: 20pxx;">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
