
.example-full-width {
  width: 100%;
}


table {
  width: 100%;
}
.title-page {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #000;
  margin-top: 60px;
}

.button-in-search-text {
  font-weight: 400;
  size: 14px;
  line-height: 21px;
}

.customized_add_btn {
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #000;
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
}
.customized_add_btn:hover {
  background-color: rgb(0, 89, 255);
  color: white;
}

.customized_add_btn_delete {
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border: 1px solid #e5e5e5;
  background-color: #f51720;
}

.customized_add_btn_edit {
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border: 1px solid #e5e5e5;
  background-color: #3db2ff;
}
// .customized_add_btn_delete:hover{
//   background-color: rgb(0, 89, 255);
//   color: white;
// }

.customized_add_btn_confirm {
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border: 1px solid #e5e5e5;
  background-color: #e1c340;
}

.indicator {
  margin-top: 12px;
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 10px;
}

.pagi-arrow {
  color: rgb(117, 117, 117);
  outline: none;
}

:host::ng-deep .mat-table thead {
  background-color: #008080;
  color: #fff;
}
:host::ng-deep .mat-header-cell {
  color: #fff;
}

:host::ng-deep .mat-table thead tr {
  height: 40px;
}

:host::ng-deep mat-footer-row,
mat-header-row,
mat-row,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  border-bottom-color: #e5e5e5;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.table-container {
  height: 600px;
  overflow: auto;
}

//21/11/2022

.customized_add_btn {
  font-weight: 400;
  line-height: 21px;
  border-radius: 90px;
  padding: 5px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border: 1px solid #e5e5e5;
  background-color: #673ab7;
}

.customized_add_btn_view {
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border: 1px solid #e5e5e5;
  background-color: #317140;
}

.customized_add_btn_delete {
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border: 1px solid #e5e5e5;
  background-color: #f51720;
}

.material-icons-custom {
  color: #000 !important;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.aligned-with-icon {
  font-size: 26px;
  color: #000 !important;
  position: absolute;
  margin-top: 2px;
  margin-left: 5px; /* optional */
}
