<div class="container px-0 mx-0">
  <mat-dialog-content class="mx-0 px-0" style="width: 800px;">

    <div style="display: flex; justify-content: flex-end;">
      <div mat-dialog-close>X</div>
    </div>

    <div class="row px-0 mx-0">
      <div class="col-md-12 col-lg-12">

        <mat-tab-group>
          <mat-tab label="USER INFO">
            <!-- start -->
            <div class="row px-0 mx-0 mt-5 form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">

                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      Username
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.username}}
                    </div>
                  </div>
                </div>

                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      FULLNAME
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.fname}} &nbsp; {{DataValues.mname}} &nbsp; {{DataValues.lname}} &nbsp;
                    </div>
                  </div>
                </div>

                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      DATE OF BIRTH
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.dob}}
                    </div>
                  </div>
                </div>

                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      AGE
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.age}}
                    </div>
                  </div>
                </div>


                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      CONTACT NUMBER
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.contact_no}}
                    </div>
                  </div>
                </div>

                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      EMAIL ADDRESS
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.email}}
                    </div>
                  </div>
                </div>


                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      ADDRESS
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.address}}
                    </div>
                  </div>
                </div>

                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      Status
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>

                      <div *ngIf="DataValues.user_role == 1; else showstatus">
                        Admin
                      </div>

                      <ng-template #showstatus>
                        Patient
                      </ng-template>




                    </div>
                  </div>
                </div>


              </div>
            </div>
            <!-- end -->
          </mat-tab>
          <mat-tab label="EDIT">
            <form [formGroup]="signupform">
              <!-- <div class="row px-0">
              <div class="col-md-12 col-lg-12"> -->

              <!-- </div>
            </div> -->

              <div class="row px-0 mx-0 mt-5 form-group">
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Firstname</mat-label>
                    <input formControlName="fname" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('fname').errors && signupform.get('fname').touched">
                      Firstname is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Middlename</mat-label>
                    <input formControlName="mname" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('mname').errors && signupform.get('mname').touched">
                      Middlename is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Lastname</mat-label>
                    <input formControlName="lname" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('lname').errors && signupform.get('lname').touched">
                      Lastname is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>

              <div class="row px-0 mx-0">

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Date of Birth</mat-label>
                    <input formControlName="dob" type="date" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('dob').errors && signupform.get('dob').touched">
                      Date of Birth is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option>Please select one</mat-option>
                      <mat-option value="0">Female</mat-option>
                      <mat-option value="1">Male</mat-option>
                    </mat-select>
                    <mat-error *ngIf="signupform.get('gender').errors && signupform.get('gender').touched">
                      Gender is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row px-0 mx-0 form-group">
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('username').errors && signupform.get('username').touched">
                      Username is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" [type]="hide ? 'password' : 'text'" matInput placeholder=""
                      value="">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <!-- <mat-error *ngIf="signupform.get('password').errors && signupform.get('password').touched">
                    Password is <span><b>required</b></span>
                  </mat-error> -->
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Re-enter password</mat-label>
                    <input formControlName="retypepassword" [type]="hide ? 'password' : 'text'" type="password" matInput
                      placeholder="" value="">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <!-- <mat-error *ngIf="signupform.controls['retypepassword'].hasError('required')  && signupform.get('retypepassword').touched">
                    Required Fields
                  </mat-error> -->
                    <mat-error
                      *ngIf="signupform.controls['retypepassword'].hasError('notEquivalent')  && signupform.get('retypepassword').touched">
                      Password and Confirm Password doesn't match.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row px-0 mx-0">
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Contact Number</mat-label>
                    <span matPrefix>+63 &nbsp;</span>
                    <input (keypress)="numberOnly($event)" [pattern]="mobNumberPattern" formControlName="mobile"
                      matInput placeholder="999999999">
                    <mat-error
                      *ngIf="signupform.controls['mobile'].hasError('required')  && signupform.get('mobile').touched">
                      Mobile number is <span><b>required</b></span>
                    </mat-error>
                    <mat-error *ngIf="signupform.get('mobile').errors?.pattern && signupform.get('mobile').touched">
                      Mobile number is <span><b>Invalid</b></span>
                    </mat-error>

                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Email Address</mat-label>
                    <input formControlName="email" matInput placeholder="" value="">

                    <mat-error
                      *ngIf="signupform.controls['email'].hasError('required')  && signupform.get('email').touched">
                      Email is <span><b>required</b></span>
                    </mat-error>

                    <mat-error
                      *ngIf="signupform.controls['email'].hasError('email')  && signupform.get('email').touched">
                      Email is <span><b>Invalid</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Address</mat-label>
                    <input formControlName="address" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('address').errors && signupform.get('address').touched">
                      Address is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="row px-0 mx-0 form-group">
                <div class="col-md-12 col-lg-12">
                  <div style="float: right;" class="mb-2">
                    <button color="primary" (click)="onSubmit()" mat-raised-button>
                      <mat-icon style="position: relative;
                      margin-right: 10px;
                      top: -2px;
                      left: 5px;">
                        edit
                      </mat-icon>Update
                    </button>
                    <!-- <button  (click)="openMap()" mat-button >map</button> -->
                  </div>

                </div>
              </div>

            </form>
          </mat-tab>
          <mat-tab label="PAYMENT">

            <!-- <div class="row mt-3 mx-0 px-0">
              <div class="col-md-12 col-lg-12">
                <div class="text-center"><h3>Create a payment</h3></div>
              </div>
            </div> -->
            <form [formGroup]="paymentForm">
              <div class="row mx-0 px-0 mt-4 mb-5">

                <div class="col-md-6 col-lg-6">

                  <div class="row px-0 mx-0 form-group">
                    <div class="col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                      </mat-form-field>
                    </div>
                  </div>



                  <div class="row px-0 mx-0 form-group">
                    <div class="col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select an service</mat-label>
                        <mat-select disableRipple (selectionChange)="selectService($event)"
                          formControlName="service_id">
                          <mat-option *ngFor="let service of ServiceValues" [value]="service?.id">
                            {{service?.service_name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row px-0 mx-0 form-group" style="display:none">
                    <div class="col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Service name</mat-label>
                        <input matInput formControlName="service_name" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row px-0 mx-0  form-group">
                    <div class="col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>No. of Teeth</mat-label>
                        <input matInput (change)="teethChange($event, getSelectedData?.service_price)"
                          formControlName="no_teeth">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row px-0 mx-0 form-group">
                    <div class="col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Price</mat-label>
                        <input matInput readonly formControlName="price">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row px-0 mx-0 form-group">
                    <div class="col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Total</mat-label>
                        <input matInput formControlName="total" readonly>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row px-0 mx-0 form-group">
                    <div class="col-md-12 col-lg-12">
                      <div class="flat-right">
                        <button mat-raised-button color="primary" (click)="onSave()">Generate</button>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6 col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 co-lg-12">
                          <div class="text-center">RECEIPT</div>
                          <hr>


                          <div *ngFor="let array of array_data; let i = index">
                            <div class="row mb-3">
                              <div class="col-md-12 col-lg-12">
                                <div class="card">
                                  <div class="card-body">

                                    <div class="row mb-2">
                                      <div class="col-md-6 col-lg-6">
                                        <strong>Service</strong>
                                      </div>
                                      <div class="col-md-6 col-lg-6">
                                        {{array?.service_name}}
                                      </div>
                                    </div>

                                    <div class="row mb-2">
                                      <div class="col-md-6 col-lg-6">
                                        <strong>No. Teeth</strong>
                                      </div>
                                      <div class="col-md-6 col-lg-6">
                                        {{array?.noTeeth}}
                                      </div>
                                    </div>

                                    <div class="row mb-2">
                                      <div class="col-md-6 col-lg-6">
                                        <strong>Price</strong>
                                      </div>
                                      <div class="col-md-6 col-lg-6">
                                        {{array?.price_service}} x {{array?.noTeeth}}
                                      </div>
                                    </div>

                                    <div class="row mb-2">
                                      <div class="col-md-6 col-lg-6">
                                        <strong>Total</strong>
                                      </div>
                                      <div class="col-md-6 col-lg-6">
                                        {{array?.total}}
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-6 col-lg-6">


                                      </div>
                                      <div class="col-md-6 col-lg-6">
                                        <button mat-raised-button color="warn" (click)="removeElement(i)"><mat-icon style="position: relative;
                                          margin-right: 10px;
                                          top: -2px;
                                          left: 5px;">
                                            delete
                                          </mat-icon>REMOVE</button>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>


                          <div class="row">
                            <div class="col-md-12 col-lg-12">
                              <div class="card">
                                <div class="card-body">


                                  <div class="row mb-2">
                                    <div class="col-md-6 col-lg-6">
                                      <strong>Bill to</strong>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                      {{DataValues?.fname}} &nbsp; {{DataValues?.mname}} &nbsp; {{DataValues?.lname}}
                                      &nbsp;
                                    </div>
                                  </div>


                                  <div class="row mb-2">
                                    <div class="col-md-6 col-lg-6">
                                      <strong>Total</strong>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                      {{sumTotal}}
                                    </div>
                                  </div>



                                </div>
                              </div>
                            </div>
                          </div>



                        </div>
                      </div>

                      <!-- /controls -->

                      <div class="row mt-4">
                        <div class="col-md-12 col-lg-12 d-flex justify-content-end">
                          <button (click)="onSubmitTransaction()" color="primary" class="" mat-raised-button>
                            Submit
                          </button>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>

            </form>

          </mat-tab>
          <mat-tab label="TRANSACTION HISTORY">

            <div class="container mb-4">

              <!-- <div class="row mt-3">
                <div class="col-md-12 col-lg-12">

                  <div style="float:left">
                    <mat-form-field class="example-full-width">
                      <mat-label>Search</mat-label>
                      <input matInput type="text" #inp>
                    </mat-form-field>
                    <button (click)="applyFilter(inp.value)" class=" btn customized_add_btn">
                      Search
                    </button>
                  </div>


                  <div style="float: right;">
                    <div class="px-0 mx-0" style="height: 45px;">
                      <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
                        [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                  </div>



                </div>
              </div> -->


              <div class="table-container mt-3">
                <table mat-table [dataSource]="dataSourceAll">

                  <ng-container matColumnDef="number">
                    <th style="color: #fff;" mat-header-cell *matHeaderCellDef> No. </th>
                    <td style="width: auto;" mat-cell *matCellDef="let element; let i = index">
                      {{i + (this.paginate.pageSize * this.paginate.page) + 1}} </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Name </th>
                    <td style="width: auto;" mat-cell *matCellDef="let element">
                      {{DataValues.fname}} &nbsp; {{DataValues.mname}} &nbsp; {{DataValues.lname}} &nbsp;

                    </td>
                  </ng-container>

                  <ng-container matColumnDef="service">
                    <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Service </th>
                    <td style="width: auto;" mat-cell *matCellDef="let element">

                     <div *ngFor="let item of element?.service">
                        {{item?.service_name}} - &nbsp; {{item?.noTeeth}} x {{item?.price_service}}
                      </div>


                    </td>
                  </ng-container>

                  <ng-container matColumnDef="total">
                    <th style="color: #fff;" mat-header-cell *matHeaderCellDef>Total</th>
                    <td style="width: auto;" mat-cell *matCellDef="let element">{{element?.total}} </td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Status </th>
                    <td style="width: auto;" mat-cell *matCellDef="let element">{{element?.status}} </td>
                  </ng-container>

                  <ng-container matColumnDef="user_status">
                    <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Date </th>
                    <td style="width: auto;" mat-cell *matCellDef="let element">

                      {{element.created_date | date}}


                    </td>
                  </ng-container>


                  <!-- Symbol Column -->
                  <ng-container matColumnDef="conttrols">
                    <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Controls </th>
                    <td mat-cell *matCellDef="let element">
                      <!-- <div *ngIf="element.user_status === 'Scheduled' ">
                          <button (click)="openReject(element.id)" matTooltip="Delete"  matTooltipPosition="right"  class="button-in-search-text btn customized_add_btn_delete">
                            Reject
                          </button>
                        </div> -->
                      <!-- <div class="d-flex" *ngIf="element.user_status === 'Waiting'"> -->
                      <div class="d-flex">
                        <div>
                          <!-- <button (click)="delete(element.id)" matTooltip="Reject"
                          matTooltipPosition="right" class="button-in-search-text btn customized_add_btn_delete">
                          Delete
                        </button> -->
                        </div>

                        <div>
                          <!-- <button (click)="edit(element.id, element.service_name, element.description, element.service_price)" matTooltip="Confirm"
                          matTooltipPosition="right" class="button-in-search-text btn customized_add_btn_confirm">
                          Edit
                        </button> -->
                        </div>
                      </div>
                      <!-- </div> -->
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsAll; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsAll;"></tr>
                </table>

              </div>



            </div>


          </mat-tab>

          <mat-tab label="HISTORY">

            <div class="row">

            </div>


          </mat-tab>


          <mat-tab label="Teeth">

            <div class="row mb-4 mt-4 mx-0 px-0">

              <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                <div>
                  <div class="row ">

                    <div class="col-md-3 col-lg-3" *ngFor="let Teethno of teethno">

                      <div class="card" (click)="addnote(Teethno.value)">
                        <div class="card-body">
                          {{Teethno.value}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </mat-tab>
        </mat-tab-group>

      </div>
    </div>

  </mat-dialog-content>
</div>
