
 <div class="container px-0 mx-0">
  <mat-dialog-content  class="mx-0 px-0" style="width: 400px;" >

    <div class="row px-0 mx-0">
      <div class="col-md-12 col-lg-12">
        <div style="display: flex; justify-content: flex-end;">
          <div mat-dialog-close >X</div>
        </div>
      </div>
    </div>

  <div class="row px-0 mx-0 mt-5">
      <div class="col-md-12 col-lg-12">
        <div style="text-align: center; padding: 20dp;">
          <p>Are you sure want to logout?</p>
        </div>
      </div>
  </div>



    <div style="float: right;">
      <button mat-button mat-dialog-close  (click)="logout()" > YES</button>
    </div>

  </mat-dialog-content>
 </div>
