<div class="container">

  <div class="row mt-3">
    <div class="col-md-12 col-lg-12">


      <div style="float:left">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input style="color: #000;" matInput type="text" #inp>
        </mat-form-field>
        <!-- button -->
        <button (click)="applyFilter(inp.value)" class=" btn customized_add_btn">
          Search
        </button>
      </div>


      <div style="float: right;">
        <div class="px-0 mx-0" style="height: 45px;">
          <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
            [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </div>
  </div>


  <div class="table-container mt-3 mb-5">
    <table mat-table [dataSource]="datasoure">

      <ng-container matColumnDef="number">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> No. </th>
        <td style="width: auto;" mat-cell *matCellDef="let element; let i = index">
          {{i + (this.paginate.pageSize * this.paginate.page) + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="item_name">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Item Name </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.item_name}} </td>
      </ng-container>


      <ng-container matColumnDef="borrower">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Name </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.borrower_name}} </td>
      </ng-container>

      <ng-container matColumnDef="item_quantity">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Quantity </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">{{element.item_quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="item_brand">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Brand </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.item_brand}} </td>
      </ng-container>

      <ng-container matColumnDef="item_category">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Category </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">
          {{element.item_category}}
        </td>
      </ng-container>

      <ng-container matColumnDef="module">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.module}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Status </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">
          <div [ngStyle]="{'color' : (element?.remarks == 'Borrowed') ? '#7D0A0A' : '#337357'}">
            {{element.remarks}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="item_date">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Date </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.created_date | date}}</td>
      </ng-container>

      <ng-container matColumnDef="controls">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Reason </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">
          {{element.reason}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displaycolumn; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displaycolumn;"></tr>
    </table>

  </div>

  <div *ngIf="!datasoure">
    <h1>There are no records yet</h1>
  </div>

</div>
