<h2 mat-dialog-title></h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

<h3 style="align-items:center;">Are you sure want to confirm this appointment created?</h3>
<br>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <b>Date:</b> {{this.dialogdata.date}}
  </div>
</div>


<div class="row">
  <div class="col-md-12 col-lg-12">
   <b> Time:</b>  {{this.dialogdata.time}}
  </div>
</div>



<div class="row">
  <div class="col-md-12 col-lg-12">
   <b> Category:</b>  {{this.dialogdata.category}}
  </div>
</div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="confirm()">Yes</button>
</mat-dialog-actions>

<!-- (click)="onSubmit()" -->
