<div class="row">
  <div class="col-md-2 col-lg-2 col-sm-12">
    <button class="add-custodian" (click)="createRoom()">Add</button>
  </div>
</div>


<div class="container">

  <div class="row mt-3">
    <div class="col-md-12 col-lg-12">


      <div style="float:left">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input style="color: #000;" matInput type="text" #inp>
        </mat-form-field>
        <!-- button -->
        <button (click)="applyFilter(inp.value)" class=" btn customized_add_btn">
          Search
        </button>
      </div>


      <div style="float: right;">
        <div class="px-0 mx-0" style="height: 45px;">
          <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
            [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </div>
  </div>


  <div class="table-container mt-3 mb-5" style="margin-bottom: 50px;">
    <table mat-table [dataSource]="datasoure">

      <ng-container matColumnDef="number">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> No. </th>
        <td style="width: auto;" mat-cell *matCellDef="let element; let i = index">
          {{i + (this.paginate.pageSize * this.paginate.page) + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="item_name">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Item Name </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.item_name}} </td>
      </ng-container>

      <ng-container matColumnDef="item_quantity">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Quantity </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">{{element.item_quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="item_brand">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Brand </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.item_brand}} </td>
      </ng-container>

      <ng-container matColumnDef="item_category">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Category </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">
          {{element.item_category}}
        </td>
      </ng-container>

      <ng-container matColumnDef="item_unit">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Unit </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.item_unit}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Status </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">
          <div class="" *ngIf="element.status == 'Available'">
            <span style="color:green">Available</span>
          </div>
          <div class="" *ngIf="element.status != 'Available'">
            <span style="color: red;">Out of Stock</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="item_date">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Date </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.created_date | date}}</td>
      </ng-container>

      <ng-container matColumnDef="controls">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Control </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">

          <div style="display: flex;">
            <div style="margin-right: 10px;">
              <button class="btn-update" mat-raised-button (click)="onclickEdit(element.id)">
                <mat-icon style="position: relative;">
                  edit_note
                </mat-icon>
              </button>
            </div>
            <div style="margin-right: 10px;">
              <button class="btn-delete" mat-raised-button (click)="onclickDelete(element.id)">
                <mat-icon style="position: relative;">
                  delete_forever
                </mat-icon>
              </button>
            </div>
            <div style="margin-right: 10px;">
              <button mat-raised-button (click)="onclickStockIn(element)">Stock In</button>
            </div>
            <div style="margin-right: 10px;">
              <button mat-raised-button (click)="onclickStockOut(element)">Stock Out</button>
            </div>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displaycolumn; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displaycolumn;"></tr>
    </table>

  </div>

  <div *ngIf="!datasoure">
    <h1>There are no records yet</h1>
  </div>

</div>
