<h2 mat-dialog-title></h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

<p>Are you sure want to reject this data?</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="rejectDialog()">Yes</button>
</mat-dialog-actions>

<!-- (click)="onSubmit()" -->
