<div class="row">
  <div class="col-md-12 col-lg-12">
    <div style="display:flex; justify-content:center;">
      <div class="title-page">
        BOOK <span>BOOK APPOINTMENT</span>
      </div>
    </div>
  </div>
</div>


<div class="row mt-5">
  <div class="col-md-12 col-lg-12">
    <!-- start -->

    <div class="row">
      <div class="col-md-4 col-lg-4">
        <!-- start -->
        <div class="card">
          <div class="card-body">

            <div></div>


          </div>
        </div>
        <!-- end -->
      </div>
      <div class="col-md-4 col-lg-4">

      </div>
      <div class="col-md-4 col-lg-4">

      </div>
    </div>




    <!-- end -->
  </div>
</div>
