mat-toolbar {
  background: #189ab4;
  color: white;
}

mat-sidenav {
  overflow-y: hidden !important;
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #189ab4;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  overflow-y: hidden !important;
  height: auto;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;
  background: #d4f1f4;
}

mat-drawer-inner-container {
  overflow-y: hidden !important;
}

mat-sidenav-container {
  overflow-y: hidden !important;
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.active {
  color: #05445e;
  background-color: #d4f1f4;
}

.example-spacer {
  flex: 1 1 auto;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: pink;
  width: 100%;
}
