<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <img src="../../../assets/logo1.jpg" alt="" width="50px" height="50px"> DEVELOPMENT AND VALIDATION OF SCHOOL PROPERTY
  INVENTORY SYSTEM FOR ICF INC.

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialogLogout()">
      <mat-icon>logout</mat-icon>LOGOUT
    </button>
    <button mat-menu-item (click)="openProfileDialog()">
      <mat-icon>face</mat-icon>PROFILE
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8"
      [src]="
      values?.user_role == 2 ? 'https://tse2.mm.bing.net/th?id=OIP.wfpHVuYaqzXRg3qdAtN67AHaHO&pid=Api&P=0&h=180' : 'https://www.pngmart.com/files/21/Admin-Profile-PNG-Clipart.png' 
    && values?.user_role == 3 ? 'https://icon-library.com/images/admin-icon-png/admin-icon-png-12.jpg': 'https://www.pngmart.com/files/21/Admin-Profile-PNG-Clipart.png' " />

    <h4 class="name">{{values?.fname}} &nbsp; {{values?.lname}}</h4>
    <!-- <p class="designation">Software Engineer</p> -->

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLinkActive="active" [routerLink]="['/admin-page/home-page-mgnt']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>


    <button mat-button class="menu-button" routerLinkActive="active" [routerLink]="['/admin-page/school-dashboard']">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>

    <button [ngStyle]="{'cursor' : (values?.user_role == 2 || values?.user_role == 1 ) ? 'pointer' : 'not-allowed'}"
      [disabled]="(values?.user_role == 2 || values?.user_role == 1 ) ? 'false' : 'true'" mat-button class="menu-button"
      routerLinkActive="active" [routerLink]="['/admin-page/custodian-inventory']">
      <mat-icon>face_3</mat-icon>
      <span>Custodian</span>
    </button>


    <button [ngStyle]="{'cursor' : (values?.user_role == 3 || values?.user_role == 1) ? 'pointer' : 'not-allowed'}"
      [disabled]="(values?.user_role == 3 || values?.user_role == 1 ) ? 'false' : 'true'" mat-button class="menu-button"
      routerLinkActive="active" routerLink="/admin-page/building-inventory">
      <mat-icon>apartment</mat-icon>
      <span>Building</span>
    </button>

    <button [ngStyle]="{'cursor' : (values?.user_role == 1 || values?.user_role == 4 ) ? 'pointer' : 'not-allowed'}"
      [disabled]="(values?.user_role == 4 || values?.user_role == 1 ) ? 'false' : 'true'" mat-button class="menu-button"
      routerLinkActive="active" routerLink="/admin-page/comlab-mngt">
      <mat-icon>computer</mat-icon>
      <span>Computer Lab</span>
    </button>

    <button [ngStyle]="{'cursor' : (values?.user_role == 4 || values?.user_role == 1 ) ? 'pointer' : 'not-allowed'}"
      [disabled]="(values?.user_role == 4 || values?.user_role == 1 ) ? 'false' : 'true'" mat-button class="menu-button"
      routerLinkActive="active" [routerLink]="['/admin-page/rooms-mngt']">
      <mat-icon>room_preferences</mat-icon>
      <span>Rooms Mngt</span>
    </button>
    <mat-divider></mat-divider>
    <button [ngStyle]="{'cursor' : (values?.user_role == 4 || values?.user_role == 1 ) ? 'pointer' : 'not-allowed'}"
      [disabled]="(values?.user_role == 4 || values?.user_role == 1 ) ? 'false' : 'true'" mat-button class="menu-button"
      routerLinkActive="active" [routerLink]="['/admin-page/borrowed-items']">
      <mat-icon>inventory_2</mat-icon>
      <span>Items Mngt</span>
    </button>

    <button [ngStyle]="{'cursor' : (values?.user_role == 2 || values?.user_role == 1 ) ? 'pointer' : 'not-allowed'}"
      [disabled]="(values?.user_role == 2 || values?.user_role == 1 ) ? 'false' : 'true'" mat-button class="menu-button"
      routerLinkActive="active" [routerLink]="['/admin-page/stocks-mgnt']">
      <mat-icon>inventory_2</mat-icon>
      <span>Stock Mngt</span>
    </button>

    <button [ngStyle]="{'cursor' : (values?.user_role == 2 || values?.user_role == 1 ) ? 'pointer' : 'not-allowed'}"
      [disabled]="(values?.user_role == 2 || values?.user_role == 1 ) ? 'false' : 'true'" mat-button class="menu-button"
      routerLinkActive="active" [routerLink]="['/admin-page/status-mgnt']">
      <mat-icon>inventory_2</mat-icon>
      <span>Status Mngt</span>
    </button>



    <mat-divider></mat-divider>

    <button [ngStyle]="{'cursor' : (values?.user_role == 1) ? 'pointer' : 'not-allowed'}"
      [disabled]="(values?.user_role == 1) ? 'false' : 'true'" mat-button class="menu-button" routerLinkActive="active"
      [routerLink]="['/admin-page/users-report']">
      <mat-icon>report</mat-icon>
      <span>Reports</span>
    </button>

    <button [ngStyle]="{'cursor' : (values?.user_role == 1) ? 'pointer' : 'not-allowed'}"
      [disabled]="(values?.user_role == 1) ? 'false' : 'true'" mat-button class="menu-button" routerLinkActive="active"
      [routerLink]="['/admin-page/users-history']">
      <mat-icon>history</mat-icon>
      <span>History</span>
    </button>

    <mat-divider></mat-divider>

    <button [ngStyle]="{'cursor' : (values?.user_role == 1) ? 'pointer' : 'not-allowed'}"
      [disabled]="(values?.user_role == 1) ? 'false' : 'true'" mat-button class="menu-button" routerLinkActive="active"
      routerLink="/admin-page/users-mngt">
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Users Account</span>
    </button>




  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <h1>All Rigth Reserved @2024</h1>
        </div>
      </div>
    </div>
  </footer>

</mat-sidenav-container>
