


<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-lg-12">
      <div>
        <mat-icon class="material-icons-custom"> today</mat-icon><span class="aligned-with-icon">Appointment</span>
      </div>
    </div>
  </div>


  <div *ngIf="!show">


    <div class="row mt-4 mb-4">
      <div class="col-md-4 col-lg-4 mx-0 px-0">
        <button (click)="addAppointment()" mat-raised-button color="primary"> Add Appointment</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12">

        <div class="row mt-3">
          <div class="col-md-12 col-lg-12 px-0 mx-0">

            <div style="float:left">
              <mat-form-field class="example-full-width">
                <mat-label>Search</mat-label>
                <input matInput type="text" #inp>
              </mat-form-field>
              <!-- button -->
              <button (click)="applyFilter(inp.value)" class="button-in-search-text btn customized_add_btn">
                Search
              </button>
            </div>


            <div style="float: right;">
              <div class="px-0 mx-0" style="height: 45px;">
                <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
                  [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
              </div>
            </div>



          </div>
        </div>


        <div class="row mt-2">
          <div class="col-md-12 col-lg-12 px-0 mx-0">
            <!-- start -->

            <div class="table-container">
              <table mat-table [dataSource]="dataSource">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{i + (this.paginate.pageSize * this.paginate.page) + 1}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td style="width:200px;" mat-cell *matCellDef="let element"> {{element.appointment_date}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="time">
                  <th mat-header-cell *matHeaderCellDef> Time </th>
                  <td mat-cell *matCellDef="let element"> {{element.appointment_time}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef> Category </th>
                  <td mat-cell *matCellDef="let element"> {{element.appointment_category}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.user_status == 'Waiting' " class="text-warning">
                      {{ element.user_status }}
                    </div>
                    <div *ngIf="element.user_status == 'Scheduled' " class="text-success">
                      {{ element.user_status }}
                    </div>
                    <div *ngIf="element.user_status == 'Rejected' " class="text-danger">
                      {{ element.user_status }}
                    </div>
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="controls">
                  <th mat-header-cell *matHeaderCellDef> Controls </th>
                  <td style="width:300px;" mat-cell *matCellDef="let element">
                    <div *ngIf="element.user_status == 'Rejected' " class="text-danger">
                      <button matTooltip="Edit Appointment" matTooltipPosition="left" disabled
                        class="button-in-search-text btn customized_add_btn"
                        style="margin-right: 10px !important; cursor: not-allowed;">
                        Edit
                      </button>
                      <button (click)="opencomment()" matTooltip="View Comment" matTooltipPosition="right"
                        class="button-in-search-text btn customized_add_btn">
                        Comment
                      </button>
                    </div>
                    <div *ngIf="element.user_status == 'Waiting' " class="text-warning">
                      <button (click)="openConfirmDialog(element.id)" matTooltip="Edit Appointment"
                        matTooltipPosition="left" class="button-in-search-text btn customized_add_btn"
                        style="margin-right: 10px !important;;">
                        Update
                      </button>
                    </div>


                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>






            <!-- end -->
          </div>
        </div>

      </div>
    </div>


  </div>

  <div *ngIf="hide">

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div style="display:flex; justify-content:center;">
          <div class="title-page">
            SUCCESS
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 col-lg-12">



        <div class="alert alert-success" style="height: 80px;" role="alert">

          <div class="row">
            <div class="col-md-12 col-gl-12" style="align-content: center;">
              Thank you for registration!
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div style="float: right;">
                <button mat-button [routerLink]="['/client-page/home']">BACK</button>
              </div>
            </div>
          </div>

        </div>



      </div>
    </div>


  </div>
    <!-- <div class="custom-shape-divider-bottom-1627488606" style="z-index: -1;">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25" class="shape-fill"></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5" class="shape-fill"></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"></path>
      </svg>
    </div> -->

</div>
