.title-page{
  padding: 20px;
  background-color: #008080;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}

.full-width {
  width: 100%;
}


::ng-deep .toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 50px;
}

.highlight-dates{
  background: red;
  border-radius: 100%;
}


table {
  width: 100%;
}
.title-page{
  padding: 20px;
  background-color: #008080;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}



.customized_add_btn{
  font-weight: 400;
  line-height: 21px;
  border-radius: 90px;
  padding: 5px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border:  1px solid #e5e5e5;
  background-color: #673ab7;
}

.indicator{
  margin-top: 12px;
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 10px;
}

.pagi-arrow{
  color: rgb(117, 117, 117);
  outline: none;
}

:host::ng-deep .mat-table thead{
  background-color: #e5e5e5;

}

:host::ng-deep .mat-table thead tr{
  height: 40px;


}


:host::ng-deep mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: #e5e5e5;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}


.table-container{
  height: 400px;
  overflow: auto;
}



header {
  height: 420px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  background: #cee4e5;  /* fallback for old browsers */
  background: linear-gradient(rgb(72,0,72,0.8), rgb(30,161,161,0.8)), url("https://ak9.picdn.net/shutterstock/videos/1012330649/thumb/12.jpg");  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgb(72,0,72,0.8), rgb(30,161,161,0.8)), url("https://ak9.picdn.net/shutterstock/videos/1012330649/thumb/12.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size:cover;
  background-repeat: no-repeat;
}


//bottom

.custom-shape-divider-bottom-1627488606 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627488606 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 257px;
}

.custom-shape-divider-bottom-1627488606 .shape-fill {
  fill: #21868c;
}




.material-icons-custom {
  color: #000 !important;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.aligned-with-icon {
  font-size: 26px;
  color: #000 !important;
  position: absolute;
  margin-top: 2px;
  margin-left: 5px; /* optional */
}
