<div class="row" style=" padding: 0px; margin: 0px;">
  <div class="col-md-12 col-lg-12">
    <h1 mat-dialog-title style="margin-top: 20px;">Add</h1>
  </div>
</div>
<mat-dialog-content style="width: 400px; padding: 0px; margin: 0px;">
  <form [formGroup]="createform">

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Room name</mat-label>
          <input formControlName="room_name" matInput placeholder="">
          <mat-error *ngIf="createform.get('room_name').errors && createform.get('room_name').touched">
            Room name is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input formControlName="room_description" matInput placeholder="">
          <mat-error *ngIf="createform.get('room_description').errors && createform.get('room_description').touched">
            Description is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Floor</mat-label>
          <input formControlName="room_floor" matInput placeholder="">
          <mat-error *ngIf="createform.get('room_floor').errors && createform.get('room_floor').touched">
            Floor is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>




  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
