<mat-tab-group>
  <mat-tab label="Stock In">
    <app-stockin-mngt></app-stockin-mngt>
  </mat-tab>
  <mat-tab label="Stock Out">
    <app-stockout-mngt></app-stockout-mngt>
  </mat-tab>
</mat-tab-group>
