<div class="container" style="padding-left: 33px; padding-right: 36px;">

  <div class="row" style="margin-top: 41px;">
    <div class="col-md-12 col-lg-12 ">
      <!-- <div style="display: flex;"> -->
      <div>
        <span class="dialog-title">List of Patient </span>
      </div>
      <div style="float:right; margin-top: -27px;">
        <mat-icon mat-dialog-close [ngStyle]="{'color':'#e5e5e5'}">cancel</mat-icon>
      </div>
      <!-- </div> -->
    </div>
  </div>




  <div class="row ">
    <div class="col-md-12 col-lg-12 ">
      <!--  -->
      <mat-dialog-content style="width: 1000px;">




        <div class="row mt-3">
          <div class="col-md-12 col-lg-12">

            <div style="float:left">
              <mat-form-field class="example-full-width">
                <mat-label>Search</mat-label>
                <input matInput type="text" #inp>
              </mat-form-field>
              <!-- button -->
              <button (click)="applyFilter(inp.value)" class=" btn customized_add_btn">
                Search
              </button>
            </div>


            <div style="float: right;">
              <div class="px-0 mx-0" style="height: 45px;">
                <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
                  [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
              </div>
            </div>



          </div>
        </div>

        <div class="table-container mt-2">
          <table mat-table [dataSource]="dataSourceAll">
            <ng-container matColumnDef="number">
              <th mat-header-cell style="color: #fff;" *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{i + (this.paginate.pageSize * this.paginate.page) + 1}}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell style="color: #fff;" *matHeaderCellDef> Fullname </th>
              <td mat-cell *matCellDef="let element"> {{element.fname}} &nbsp; {{element.mname}} &nbsp; {{element.lname}} </td>
            </ng-container>

            <ng-container matColumnDef="contact">
              <th mat-header-cell style="color: #fff;" *matHeaderCellDef> Contact </th>
              <td mat-cell *matCellDef="let element"> 0{{element.contact_no}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell style="color: #fff;" *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element">{{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell style="color: #fff;" *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date_created}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell style="color: #fff;" *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.user_status === 'Rejected'">
                  <div class="text-danger">{{element.user_status}}</div>
                </div>
                <div *ngIf="element.user_status === 'Waiting'">
                  <div class="text-warning">{{element.user_status}}</div>
                </div>
                <div *ngIf="element.user_status === 'Confirmed'">
                  <div class="text-success">{{element.user_status}}</div>
                </div>
              </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="conttrols">
              <th mat-header-cell style="color: #fff;" *matHeaderCellDef> Controls </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.user_status === 'Waiting'">
                  <button disabled (click)="setAppointment(element.id)" matTooltip="Set Scheduled"
                    matTooltipPosition="right" class="" mat-raised-button>
                    <mat-icon style="position: relative;
                      margin-right: 10px;
                      left: 5px;">
                      post_add
                    </mat-icon>Set Appointment
                  </button>
                </div>
                <div *ngIf="element.user_status === 'Confirmed'">
                  <button style="background-color: #008080; color: #fff;" (click)="setAppointment(element.id)"
                    matTooltip="Set Appointment" matTooltipPosition="right" class="" mat-raised-button>
                    <mat-icon style="position: relative;
                      margin-right: 10px;
                      left: 5px;">
                      post_add
                    </mat-icon>Set Appointment
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsAll; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAll;"></tr>
          </table>

        </div>





      </mat-dialog-content>
      <!--  -->
    </div>
  </div>

</div>
