<div class="container">

  <div class="row mt-3">
    <div class="col-md-12 col-lg-12">

      <div style="float:left">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input style="color: #000;" matInput type="text" #inp>
        </mat-form-field>
        <!-- button -->
        <button (click)="applyFilter(inp.value)" class=" btn customized_add_btn">
          Search
        </button>
      </div>

      <div style="float: right;">
        <div class="px-0 mx-0" style="height: 45px;">
          <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
            [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>

    </div>
  </div>


  <div class="table-container mt-3 mb-5">
    <table mat-table [dataSource]="datasoure">

      <ng-container matColumnDef="number">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> No. </th>
        <td style="width: auto;" mat-cell *matCellDef="let element; let i = index">
          {{i + (this.paginate.pageSize * this.paginate.page) + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="user_id">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> User Id </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.user_id}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Username </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="req_type">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Request Type </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">{{element.req_type}} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Message </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">{{element.message}}</td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Date </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">{{element.created_at | date}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Status </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"></td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displaycolumn; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displaycolumn;"></tr>
    </table>

  </div>

  <div *ngIf="!datasoure">
    <h1>There are no records yet</h1>
  </div>

</div>
