<div class="row">
  <div class="col-md-4 col-lg-4">
    <button mat-raised-button (click)="createRoom()">Add New Room</button>
  </div>
</div>


<div class="container">

  <div class="row mt-3">
    <div class="col-md-12 col-lg-12">


      <div style="float:left">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input style="color: #000;" matInput type="text" #inp>
        </mat-form-field>
        <!-- button -->
        <button (click)="applyFilter(inp.value)" class=" btn customized_add_btn">
          Search
        </button>
      </div>


      <div style="float: right;">
        <div class="px-0 mx-0" style="height: 45px;">
          <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
            [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>



    </div>
  </div>


  <div class="table-container mt-3 mb-5">
    <table mat-table [dataSource]="datasoure">

      <ng-container matColumnDef="number">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> No. </th>
        <td style="width: auto;" mat-cell *matCellDef="let element; let i = index">
          {{i + (this.paginate.pageSize * this.paginate.page) + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="room_name">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Room Name </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.room_name}} </td>
      </ng-container>

      <ng-container matColumnDef="room_description">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Decription </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.room_description}} </td>
      </ng-container>

      <ng-container matColumnDef="items">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Items </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="showItemList(element.room_name)">Show Items</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Status </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">
          <div *ngIf="element?.status == 'Active'">
            <span style="color:#0D9276; font-weight: 300;">Active</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="controls">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Control </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">
          <div style="display: flex;">
            <div style="margin-right: 10px;">
              <button class="btn-update" mat-raised-button (click)="onclickEdit(element.id)" [@fadeInOut]>
                <mat-icon style="position: relative;">
                  edit_note
                </mat-icon>
              </button>
            </div>
            <div>
              <button class="btn-delete" mat-raised-button (click)="onclickDelete(element.id)" [@fadeInOut]>
                <mat-icon style="position: relative;">
                  delete_forever
                </mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displaycolumn; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displaycolumn;"></tr>
    </table>

  </div>


  <div *ngIf="!datasoure">
    <h1>There are no records yet</h1>
  </div>

</div>
