<div class="container">

  <div style="display: flex;">
    <div style="margin-right: 20px;" *ngIf="currentTabIndex == 1">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" readonly (dateChange)="onChangeEventUsers($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div style="margin-right: s20px;" *ngIf="currentTabIndex == 0">

      <mat-form-field appearance="standard">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="dateRangePicker">
          <input matStartDate placeholder="Start date" #dateRangeStart>
          <input matEndDate placeholder="End date" #dateRangeEnd
            (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
        </mat-date-range-input>
        <mat-datepicker-toggle matPrefix [for]="dateRangePicker">
        </mat-datepicker-toggle>
        <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate e formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field> -->

    </div>
    <div>
      <button mat-raised-button ngxPrintItemButton divID="printOne" mat-raised-button>
        <mat-icon style="position: relative;
        top: -2px;">
          print
        </mat-icon> PRINT
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12">

      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="All">

          <div class="row mt-4" style="margin: 0px; padding: 0px;" id="printOne">
            <div class="col-md-12 col-lg-12" style="margin: 0px; padding: 0px;">

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th colspan="8">
                      CUSTODIAN
                    </th>
                  </tr>
                  <tr>
                    <th>No.</th>
                    <th>Item Name</th>
                    <th>Item Description</th>
                    <th>Item Category</th>
                    <th>Item Quantity</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of range_result1; let i = index ">
                    <td>{{i + (1)}}</td>
                    <td>{{item?.item_name}}</td>
                    <td>{{item?.item_description}}</td>
                    <td>{{item?.item_category}}</td>
                    <td>{{item?.item_quantity}}</td>
                    <td>{{item?.created_date | date}}</td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th colspan="8">
                      ROOMS
                    </th>
                  </tr>
                  <tr>
                    <th>No.</th>
                    <th>Room name</th>
                    <th>Description</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of range_result2; let i = index ">
                    <td>{{i + (1)}}</td>
                    <td>{{item?.room_name}}</td>
                    <td>{{item?.room_description}}</td>
                    <td>{{item?.created_date | date}}</td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th colspan="8">
                      BUILDING
                    </th>
                  </tr>
                  <tr>
                    <th>No.</th>
                    <th>Room name</th>
                    <th>Description</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of range_result3; let i = index ">
                    <td>{{i + (1)}}</td>
                    <td>{{item?.room_name}}</td>
                    <td>{{item?.room_description}}</td>
                    <td>{{item?.created_date | date}}</td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th colspan="8">
                      COMPUTER LABORATORY
                    </th>
                  </tr>
                  <tr>
                    <th>No.</th>
                    <th>Item Name</th>
                    <th>Item Category</th>
                    <th>Item Quantity</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of range_result4; let i = index ">
                    <td>{{i + (1)}}</td>
                    <td>{{item?.item_name}}</td>
                    <td>{{item?.item_category}}</td>
                    <td>{{item?.item_quantity}}</td>
                    <td>{{item?.created_date | date}}</td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>

        </mat-tab>
        <mat-tab label="Rooms">



          <div class="row mt-4" style="margin: 0px; padding: 0px;" id="printOne">
            <div class="col-md-12 col-lg-12" style="margin: 0px; padding: 0px;">

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Room Name</th>
                    <th>Item Name</th>
                    <th>Item Stock</th>
                    <th>Item Brand</th>
                    <th>Item Date</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of rooms; let i = index ">
                    <td>{{i + (1)}}</td>
                    <td>{{item?.room_id}}</td>
                    <td>{{item?.item_name}}</td>
                    <td>{{item?.item_quantity}}</td>
                    <td>{{item?.item_brand}}</td>
                    <td>{{item?.created_date | date}}</td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>

        </mat-tab>
        <mat-tab label="Stocks">

          <div class="row mt-4" style="margin: 0px; padding: 0px;" id="printOne">
            <div class="col-md-6 col-lg-6">

              <label for=""><strong>Stock In</strong></label>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Date</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of stock_in; let i = index ">
                    <td>{{i + (1)}}</td>
                    <td>{{item?.item_name}}</td>
                    <td>{{item?.item_quantity}}</td>
                    <td>{{item?.item_brand}}</td>
                    <td>{{item?.item_category}}</td>
                    <td>{{item?.status}}</td>
                    <td>{{item?.created_date | date}}</td>
                  </tr>
                </tbody>
              </table>


            </div>

            <div class="col-md-6 col-lg-6">
              <label for=""><strong>Stock Out</strong></label>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Date</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of stock_out; let i = index ">
                    <td>{{i + (1)}}</td>
                    <td>{{item?.item_name}}</td>
                    <td>{{item?.item_quantity}}</td>
                    <td>{{item?.item_brand}}</td>
                    <td>{{item?.item_category}}</td>
                    <td>{{item?.status}}</td>
                    <td>{{item?.created_date | date}}</td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>

        </mat-tab>
        <mat-tab label="Items">

          <div class="row mt-4" style="margin: 0px; padding: 0px;" id="printOne">
            <div class="col-md-12 col-lg-12" style="margin: 0px; padding: 0px;">

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Borrower name</th>
                    <th>Item Name</th>
                    <th>Item Stock</th>
                    <th>Item Brand</th>
                    <th>Status</th>
                    <th>Remarks</th>
                    <th>Date</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of borrow_items; let i = index ">
                    <td>{{i + (1)}}</td>
                    <td>{{item?.borrower_name}}</td>
                    <td>{{item?.item_name}}</td>
                    <td>{{item?.item_quantity}}</td>
                    <td>{{item?.item_brand}}</td>
                    <td>{{item?.item_category}}</td>
                    <td>{{item?.remarks}}</td>
                    <td>{{item?.created_date | date}}</td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>

        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>
