<div class="row" style=" padding: 0px; margin: 0px;">
  <div class="col-md-12 col-lg-12">
    <h1 mat-dialog-title style="margin-top: 20px;">Add</h1>
  </div>
</div>
<mat-dialog-content style="width: 400px; padding: 0px; margin: 0px;">
  <form [formGroup]="createform">


    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Model no.</mat-label>
          <input (keypress)="numberOnly($event)" formControlName="model_no" matInput placeholder="">
          <mat-error *ngIf="createform.get('model_no').errors && createform.get('model_no').touched">
            Model no. is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Item name</mat-label>
          <input formControlName="item_name" matInput placeholder="">
          <mat-error *ngIf="createform.get('item_name').errors && createform.get('item_name').touched">
            Item name is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Item Brand</mat-label>
          <input formControlName="item_brand" matInput placeholder="">
          <mat-error *ngIf="createform.get('item_brand').errors && createform.get('item_brand').touched">
            Item Brand is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Item unit</mat-label>
          <input formControlName="item_unit" matInput placeholder="">
          <mat-error *ngIf="createform.get('item_unit').errors && createform.get('item_unit').touched">
            Unit is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Item Quantity</mat-label>
          <input (keypress)="numberOnly($event)" formControlName="item_quantity" matInput placeholder="">
          <mat-error *ngIf="createform.get('item_quantity').errors && createform.get('item_quantity').touched">
            Item Quantity is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group" style="padding: 0px; margin: 0px;">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Select Status</mat-label>
          <mat-select formControlName="item_category" placeholder="Choose Visit Category">
            <mat-option value="Available">Available</mat-option>
            <mat-option value="Serviceable">Serviceable</mat-option>
            <mat-option value="Repair">For Repair</mat-option>
            <mat-option value="Disposal">For Disposal</mat-option>
          </mat-select>
          <mat-error *ngIf="createform.get('item_category').errors && createform.get('item_category').touched">
            Status is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>


  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
