// .nav-link {
//   padding: 10px;
//   font-style: normal;
//   font-weight: 400 !important;
//   font-size: 18px !important;
//   display: block;
//   padding: .5rem 1rem;
//   color: #000 !important;
//   text-decoration: none;
//   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
// }

// .btn-setting-design{
//   padding: 10px;
//   font-style: normal;
//   font-weight: 400 !important;
//   font-size: 18px !important;
//   display: block;
//   padding: .5rem 1rem;
//   color: #000 !important;
//   text-decoration: none;
//   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
// }

// .nav-link:hover{
//   color: aqua !important;
// }

// .active-design{
//   border-bottom: 2px solid #009688;
// }


// mat-sidenav-container, mat-sidenav-content, mat-sidenav {
//   height: 100%;
// }

// .mat-sidenav {
//   width: 220px;
// }

// button.menu-button {
//   color: inherit;
//   background: transparent;
//   cursor: pointer;
//   border: none;
//   outline: none;
// }


// .example-container {
//   position: absolute;
//   top: 100px;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: rgb(155, 184, 26);
//   }

//   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// * {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// 	font-family: 'Roboto', sans-serif;
// }

// body {
// 	background: #f9f9f9;
// }

// /* The side navigation menu */
// .sidenav {
// 	height: 100%;
// 	width: 60px;
// 	position: fixed;
// 	z-index: 1;
// 	top: 0;
// 	left: 0;
// 	background-color: #fff;
// 	transition: 0.5s;
// 	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
// 	text-align: center;
// 	padding: 10px;
// 	border-top-right-radius: 20px;
// 	border-bottom-right-radius: 20px;
// }

// /* Hide all span tags */
// .sidenav span {
// 	display: none;
// 	transition: all .3s;
// }

// /* hamburger menu icon  */
// .toggle {
// 	cursor: pointer;
// 	display: block;
// 	z-index: 99;
// 	text-align: center;
// 	margin-bottom: 10px;
// 	color: #cccccc;
// 	font-size: 18px;
// }

// /* profile image section */
// .profile {
// 	width: 100%;
// 	height: 125px;
// 	padding-top: 15px;
// }

// .profile .img {
// 	margin: auto;
// 	padding: 2px;
// 	border-radius: 50%;
// 	border: 2px solid #3333ff;
// 	width: 40px;
// 	height: 40px;
// }

// .profile img {
// 	border-radius: 50%;
// 	width: 100%;
// }

// /* The navigation menu links */
// .sidenav .links {
// 	width: 100%;
// }

// .sidenav ul li {
// 	list-style-type: none;
// 	margin-bottom: 30px;
// }

// .sidenav ul li a {
// 	text-decoration: none;
// 	display: block;
// 	font-size: 20px;
// 	color: #cccccc;
// 	transition: all .3s ease-in-out;
// }

// /* When you mouse over the navigation links, change their color */
// .sidenav a:hover,
// .sidenav a:hover span,
// .sidenav a.active,
// .sidenav a.active span {
// 	color: #3333ff !important;
// }

// /* Styling new event button below profile section */
// .sidenav ul li .new-event {
// 	background: #3333ff;
// 	color: #fff;
// 	border-radius: 30px;
// 	width: 100%;
// 	height: 40px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	margin: auto;
// 	overflow: hidden;
// }

// /* Set the setting section downwards. */
// .sidenav .bottom {
// 	position: absolute;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// }

// /* Style the side navigation bar when it is fully open. */

// /* Set the side navigation width. */
// .sidenav.active {
// 	width: 190px;
// }

// /* Set the hamburger menu icon in the right corner. */
// .sidenav.active .toggle {
// 	text-align: right;
// }

// /* Profile Section */
// .sidenav.active .profile .img {
// 	width: 50px;
// 	height: 50px;
// }

// .sidenav.active .profile .title {
// 	font-size: 20px;
// 	color: #000099;
// 	display: block;
// }

// .sidenav.active .profile .work {
// 	font-size: 10px;
// 	color: #000099;
// 	display: block;
// 	font-weight: 500;
// }

// /* Links section  */
// .sidenav.active ul {
// 	text-align: left;
// }

// /* Block all hidden spans that will be visible. */
// .sidenav.active ul li span {
// 	font-size: 15px;
// 	display: inline-block;
// 	color: #1a1a1a;
// 	margin-left: 10px;
// }

// .sidenav.active ul li a i {
// 	width: 35px;
// 	text-align: center;
// }

// /* New Event Button  */
// .sidenav.active ul li .new-event span {
// 	color: #fff;
// }

// .sidenav.active ul li .new-event i {
// 	width: auto;
// }

// .sidenav.active .new-event:hover,
// .sidenav.active .new-event:hover span {
// 	color: #fff !important;
// }

// /* Setting Section */
// .sidenav.active .bottom {
// 	left: 10px;
// }


// /* responsive */
// @media (max-width: 576px) {
// 	.profile {
// 		width: 100%;
// 		height: 100px;
// 		padding-top: 0px;
// 	}

// 	.sidenav ul li {
// 		list-style-type: none;
// 		margin-bottom: 20px;
// 	}

// 	.sidenav.active {
// 		width: 140px;
// 	}

// 	.sidenav.active ul li span {
// 		font-size: 15px;
// 		display: inline-block;
// 		color: #1a1a1a;
// 		margin-left: 5px;
// 	}

// 	.sidenav.active ul li a i {
// 		width: 25px;
// 		text-align: center;
// 	}

// 	.sidenav.active ul li .new-event {
// 		height: 30px;
// 		font-size: 12px;
// 	}

// 	.sidenav.active ul li .new-event span {
// 		font-size: 12px;
// 	}
// }


// .nav-link {
//   padding: 10px;
//   font-style: normal;
//   font-weight: 400 !important;
//   font-size: 18px !important;
//   display: block;
//   padding: .5rem 1rem;
//   color: #000 !important;
//   text-decoration: none;
//   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
// }

// .btn-setting-design{
//   padding: 10px;
//   font-style: normal;
//   font-weight: 400 !important;
//   font-size: 18px !important;
//   display: block;
//   padding: .5rem 1rem;
//   color: #000 !important;
//   text-decoration: none;
//   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
// }

// .nav-link:hover{
//   color: aqua !important;
// }


// .active-design{
//   border-bottom: 2px solid #009688;
// }


mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-drawer  {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  // height: auto;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  color: lightgray;
}

mat-drawer-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
      margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-links {
  list-style: none;
  position: relative;
}

.nav-links li {
  padding: 10px 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}

.nav-links li a i {
  font-size: 22px;
  // margin-right: 20px;
}

.active {
  background: #000000;
  width: 100%;
  height: 47px;
  position: absolute;
  left: 0;
  top: 2.6%;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
  display: none;
  transition: top 0.5s;
}

.nav-links li:hover a {
  color: #fff;
  transition: 0.3s;
}

// .nav-links li:hover~.active {
//   display: block;
// }

// .nav-links li:nth-child(1):hover~.active {
//   top: 2.6%;
// }

// .nav-links li:nth-child(2):hover~.active {
//   top: 19.2%;
// }

// .nav-links li:nth-child(3):hover~.active {
//   top: 35.8%;
// }

// .nav-links li:nth-child(4):hover~.active {
//   top: 52.4%;
// }

// .nav-links li:nth-child(5):hover~.active {
//   top: 69%;
// }

// .nav-links li:nth-child(6):hover~.active {
//   top: 85.6%;
// }


.example-spacer {
  flex: 1 1 auto;
}
