<!-- <div class="container">

  <div class="row pt-5">
    <div class="col-md-12 col-lg-12 px-0 mx-0 shadow-sm" style="padding: 0px !important; margin: 0px !important;">
      <div class="">
        <div style="float: left;" class="">
          <ul class="nav">
            <li class="nav-item">
              <button [routerLink]="['/client-page/home']"  routerLinkActive="active-design" class="btn-setting-design" mat-button >
                <mat-icon style="position: relative;
              margin-right: 10px;
              top: -2px;
              left: 5px;">
                dashboard
              </mat-icon>DASHBOARD</button>
            </li>
            <li class="nav-item">
              <button [routerLink]="['/client-page/create-appointment']" routerLinkActive="active-design" class="btn-setting-design" mat-button  >
                <mat-icon style="position: relative;
              margin-right: 10px;
              top: -2px;
              left: 5px;">
                post_add
              </mat-icon>CREATE APPOINTMENT</button>
            </li>
            <li class="nav-item">
              <button [routerLink]="['/client-page/view-appointment']" routerLinkActive="active-design" class="btn-setting-design" mat-button  >
                <mat-icon style="position: relative;
              margin-right: 10px;
              top: -2px;
              left: 5px;">
                list_alt
              </mat-icon>APPOINTMENT LIST</button>
            </li>
          </ul>
        </div>
        <div style="float: right;">
          <button class="btn-setting-design" mat-button [matMenuTriggerFor]="menu">
            <mat-icon style="position: relative;
              margin-right: 10px;
              top: -2px;
              left: 5px;">
                settings
              </mat-icon>SETTINGS</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialogLogout()"><mat-icon>logout</mat-icon> LOGOUT</button>
                <button mat-menu-item (click)="openProfileDialog()"><mat-icon>face</mat-icon>PROFILE</button>
              </mat-menu>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 col-lg-12">

      <router-outlet></router-outlet>

    </div>
  </div>



</div> -->

<!--
    <div id="mySidenav" #mySidenav class="sidenav">
      <div class="top">
        <div  class="toggle" (click)="openNav()">
          <i #useThisTemplateVar  class="fa-solid fa-bars"></i>
        </div>
        <div class="profile">
          <div class="img">
            <img src="img/profile.png">
          </div>
          <h3><span class="title">John Doe</span></h3>
          <span class="work">Web Developer</span>
        </div>
      </div>
      <div class="links">
        <ul>
          <li><a  [routerLink]="['/client-page/home']" routerLinkActive="active" title="Home" class="active"><i
                class="fa-solid fa-house-chimney"></i><span>Home</span></a></li>
          <li><a [routerLink]="['/client-page/create-appointment']" routerLinkActive="active"  title="Events"><i class="fa-solid fa-calendar-days"></i><span>Appointment</span></a></li>
          <li><a href="#" title="Groups"><i class="fa-solid fa-users"></i><span>History</span></a></li>
          <li><a href="#" title="Contacts"><i class="fa-solid fa-address-book"></i><span>Contacts</span></a></li>
        </ul>
      </div>
      <div class="bottom">
        <ul>
          <li><i  (click)="openProfileDialog()" class="fa-solid fa-gear"></i><span>Setting</span></li>
          <li><i (click)="openDialogLogout()" class="fa-solid fa-right-from-bracket"></i><span>Logout</span></li>
        </ul>
      </div>
    </div>

   <div class="container">
    <div class="row" style="padding-left: 60px;">
      <div class="col-md-12 co-lg-12">

        <router-outlet></router-outlet>

      </div>
    </div>
   </div> -->

   <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button>
      <mat-icon matSuffix>menu</mat-icon>
    </button>
    <span>Gonzales David Dental CLinic</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
      [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialogLogout()">
        <mat-icon>logout</mat-icon>LOGOUT
      </button>
      <button mat-menu-item (click)="openProfileDialog()">
        <mat-icon>face</mat-icon>PROFILE
      </button>
    </mat-menu>
  </mat-toolbar>




  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>

      <img class="avatar mat-elevation-z8" src="https://www.wiomsa.org/wp-content/uploads/2019/08/personnel-icon.png" />

      <h4 class="name">{{values?.fname}} &nbsp; {{values?.mname}} &nbsp; {{values?.lname}} &nbsp;</h4>

      <div *ngIf="values?.user_role == 1; else otherStatus">
        <p class="designation">🟢 Admin</p>
      </div>

      <ng-template #otherStatus>
        <p class="designation">🟢 Client</p>
      </ng-template>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button"  [routerLink]="['/client-page/home']">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>

      <button mat-button class="menu-button" [routerLink]="['/client-page/create-appointment']" >
        <mat-icon>book_online</mat-icon>
        <span>Appointment</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/client-page/client-calendar']">
        <mat-icon>today</mat-icon>
        <span>Calendar</span>
      </button>

      <button mat-button class="menu-button" [routerLink]="['/client-page/tooth_history']">
        <mat-icon>history</mat-icon>
        <span>Tooth History</span>
      </button>


    </mat-drawer>
    <mat-drawer-content>
      <div class="content mat-elevation-z8">

        <div class="container">
          <div class="row mx-0 px-0">
            <div class="col-md-12 col-lg-12 mx-0 px-0">

              <router-outlet></router-outlet>

            </div>
          </div>
        </div>

      </div>
    </mat-drawer-content>


  </mat-drawer-container>



