.title-page{
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #000;
  margin-top: 60px;
}

.full-width {
  width: 100%;
}


::ng-deep .toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 50px;
}

.highlight-dates{
  background: red;
  border-radius: 100%;
}
