.center {
  position: absolute;
  width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.shadow {
  box-shadow: 5px 10px #888888;
}

.custom-shape-divider-bottom-1627488606 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627488606 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 257px;
}

.custom-shape-divider-bottom-1627488606 .shape-fill {
  fill: #417505;
}

.full-width {
  width: 100%;
}
.example-tab-icon {
  margin-right: 8px;
}

::ng-deep .toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 50px;
}
