
@media only screen and (min-width: 992px) {

  .mat-dialog-view {
    width: 800px;
  }

}

@media only screen and (min-width: 1200px) {
  .mat-dialog-view {
    width: 900px;
  }
}


// .center {
//   position: absolute;
//   width: 600px;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   padding: 10px;
//   }


//   .note-design{
//     font-weight: 700;
//     padding-right: 5px;
//   }

//   //july 29 2021

//   .custom-shape-divider-bottom-1627488606 {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     overflow: hidden;
//     line-height: 0;
//     transform: rotate(180deg);
// }

// .custom-shape-divider-bottom-1627488606 svg {
//     position: relative;
//     display: block;
//     width: calc(100% + 1.3px);
//     height: 257px;
// }

// .custom-shape-divider-bottom-1627488606 .shape-fill {
//     fill: #417505;
// }

// .full-width {
//   width: 100%;
// }
// .example-tab-icon {
//   margin-right: 8px;
// }



// ::ng-deep .toast-bottom-center {
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   margin-bottom: 50px;
// }

// /* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// /* Firefox */
// input[type=number] {
//   -moz-appearance: textfield;
// }

// table {
//   width: 100%;
// }
// .title-page{
//   padding: 20px;
//   background-color: #008080;
//   font-weight: 700;
//   font-style: normal;
//   font-size: 24px;
//   color: #fff;
// }


// .button-in-search-text {
//   font-weight: 400;
//   size: 14px;
//   line-height: 21px;
// }

// .customized_add_btn{
//   border-radius: 90px;
//   padding: 10px;
//   line-height: 21px;
//   font-size: 14px;
//   width: 120px;
//   color: #000000;
//   border:  1px solid #e5e5e5;
//   background-color: #e5e5e5;
// }
// .customized_add_btn:hover{
//   background-color: rgb(0, 89, 255);
//   color: white;
// }



// input {
//   border: 0;
//   outline: 0;
//   width: 192px;
//   background: transparent;
//   border-bottom: 1px solid black;
// }

// .indicator{
//   margin-top: 12px;
//   font-size: 12px;
//   color: rgb(117, 117, 117);
//   margin-left: 15px;
//   margin-right: 10px;
// }

// .pagi-arrow{
//   color: rgb(117, 117, 117);
//   outline: none;
// }

// :host::ng-deep .mat-table thead{
//   background-color: #e5e5e5;

// }

// :host::ng-deep .mat-table thead tr{
//   height: 40px;


// }


// :host::ng-deep mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
//   border-bottom-color: #e5e5e5;
//   font-size: 14px;
//   line-height: 21px;
//   font-weight: 400;
//   font-style: normal;
//   color: #000;
// }


// .table-container{
//   height: 400px;
//   overflow: auto;
// }


// .customized_add_btn_confirm{
//   border-radius: 90px;
//   padding: 10px;
//   line-height: 21px;
//   font-size: 14px;
//   width: 120px;
//   color: #fff;
//   border:  1px solid #e5e5e5;
//   background-color: #FFE194;
// }

// .customized_add_btn_view{
//   border-radius: 90px;
//   padding: 10px;
//   line-height: 21px;
//   font-size: 14px;
//   width: 120px;
//   color: #fff;
//   border:  1px solid #e5e5e5;
//   background-color: #317140;
// }

// .customized_add_btn_delete{
//   border-radius: 90px;
//   padding: 10px;
//   line-height: 21px;
//   font-size: 14px;
//   width: 120px;
//   color: #fff;
//   border:  1px solid #e5e5e5;
//   background-color: #F51720;
// }
.title-page{
  padding: 20px;
  background-color: #008080;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}

.full-width {
  width: 100%;
}


::ng-deep .toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 50px;
}

.highlight-dates{
  background: red;
  border-radius: 100%;
}


