<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-lg-12">
      <div>
        <mat-icon class="material-icons-custom"> dashboard</mat-icon><span class="aligned-with-icon">Dashboard</span>
      </div>
    </div>
  </div>

  <hr>

  <div class="row mt-4">
    <div class="col-md-12 col-lg-12 ">
      <!-- start -->

      <div class="row">
        <div class="col-md-3 col-lg-3">
          <!-- start -->
          <div class="card shadow-sm" [routerLink]="['/doctor-page/doctor-patients']" style="background-color: #4CD7D0; padding: 60px;">
            <div class="card-body">
              <div style="text-align: right; font-size: 14px; color: #fff;" class="mb-4 mx-0 px-0">
                YEAR {{currentyear}}
              </div>
              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  people_alt
                </mat-icon>{{dataValues.count_client_confirmed}}
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;">CONFIRMED</div>


            </div>
          </div>
          <!-- end -->
        </div>
        <div class="col-md-3 col-lg-3">
          <!-- start -->
          <div class="card shadow-sm" [routerLink]="['/doctor-page/doctor-patients']" style="background-color: #E1C340; padding: 60px;">
            <div class="card-body" >

              <div style="text-align: right; font-size: 14px; color: #fff;" class="mb-4 mx-0 px-0">
                YEAR {{currentyear}}
              </div>

              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  people_alt
                </mat-icon>{{dataValues.count_client_waiting}}
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;"> WAITING</div>


            </div>
          </div>
          <!-- end -->
        </div>
        <div class="col-md-3 col-lg-3">
          <!-- start -->
          <div class="card shadow-sm" [routerLink]="['/doctor-page/doctor-patients']" style="background-color: #F51720; padding: 60px;">
            <div class="card-body" >

              <div style="text-align: right; font-size: 14px; color: #fff;" class="mb-4 mx-0 px-0">
                YEAR {{currentyear}}
              </div>

              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  people_alt
                </mat-icon>{{dataValues.count_client_rejected}}
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;"> REJECTED</div>


            </div>
          </div>
          <!-- end -->
        </div>

        <div class="col-md-3 col-lg-3">
          <!-- start -->
          <div class="card shadow-sm" [routerLink]="['/doctor-page/doctor-patients']" style="background-color: #317140; padding: 60px;">
            <div class="card-body">

              <div style="text-align: right; font-size: 14px; color: #fff;" class="mb-4 mx-0 px-0">
                YEAR {{currentyear}}
              </div>

              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  people_alt
                </mat-icon>{{dataValues.count_patient_scheduled}}
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;"> SCHEDULED</div>


            </div>
          </div>
          <!-- end -->
        </div>
      </div>




      <!-- end -->
    </div>
  </div>




  <div class="row mt-5 mb-5">
    <div class="col-md-12 col-lg-12 ">
      <!-- start -->

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="card shadow-sm" [routerLink]="['/doctor-page/doctor-patients']" style="background-color: #15B5B0; padding: 60px;">
            <div class="card-body">

              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  people_alt
                </mat-icon>{{dataValues.count_client_confirmed}}
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;"> PATIENTS REGISTERED</div>


            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <!-- start -->
          <div class="card shadow-sm" [routerLink]="['/doctor-page/doctor-appointments']" style="background-color: #04D4F0; padding: 60px;">
            <div class="card-body">

              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  today
                </mat-icon>{{dataAppointment.count_today}}
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;">TODAY APPOINTMENT</div>


            </div>
          </div>
          <!-- end -->
        </div>
        <div class="col-md-4 col-lg-4">
          <!-- start -->
          <div class="card shadow-sm" [routerLink]="['/doctor-page/doctor-appointments']" style="background-color: #059DC0; padding: 60px;">
            <div class="card-body" >

              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  today
                </mat-icon>{{dataAppointment.count_all}}
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;">APPOINTMENT TILL DATE</div>



            </div>
          </div>
          <!-- end -->
        </div>
        <!-- <div class="col-md-4 col-lg-4">
          <div class="card shadow-sm">
            <div class="card-body" style="padding: 60px;">

              <div style="text-align: center; font-size: 28px;" class="mb-4">
                {{dataValues.count_client_rejected}}
              </div>
              <div style="text-align: center;" class="text-danger">TOTAL REGISTERED PATIENT</div>


            </div>
          </div>
        </div> -->
      </div>




      <!-- end -->
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12 col-lg-12">
      <div>
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-lg-3">

    </div>
    <div class="col-md-6 col-lg-6">
      <div >
        <canvas width="200px" height="200px"  id="piechart"></canvas>
      </div>
    </div>
    <div class="col-md-3 col-lg-3">

    </div>
  </div>
</div>

<!-- <div class="row mt-5">
  <div class="col-md-6 col-lg-6 ">
    <div style="height: 400px; width: 100%; display: block;">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="card shadow-sm">
      <div class="card-body" style="padding: 60px;">

        <div style="text-align: center; font-size: 28px;" class="mb-4">
          {{dataValues.count_client_rejected}}
        </div>
        <div style="text-align: center; font-size: 18px;" class="text-danger">TOTAL PATIENTS REGISTERED</div>


      </div>
    </div>
  </div>
</div> -->

