.title-page{
  padding: 20px;
  background-color: #008080;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}

.full-width {
  width: 100%;
}



.material-icons-custom {
  color: #000 !important;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.aligned-with-icon {
  font-size: 26px;
  color: #000 !important;
  position: absolute;
  margin-top: 2px;
  margin-left: 5px; /* optional */
}
