<h1 mat-dialog-title style="border-bottom: 1px solid #f2f2f2;">View Users Info</h1>
<mat-dialog-content style="width: 400px;">

  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      Name
    </div>
    <div class="col-md-6 col-lg-6">
      {{ dataSource?.fname }} &nbsp; {{ dataSource?.mname }} &nbsp; {{ dataSource?.lname }}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      Gender
    </div>
    <div class="col-md-6 col-lg-6">
      <div *ngIf="dataSource?.gender === '0'">
        Female
      </div>

      <div *ngIf="dataSource?.gender === '1'">
        Male
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      Contact No.
    </div>
    <div class="col-md-6 col-lg-6">
      {{ dataSource?.contact_no }}
    </div>
  </div>


  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      Email
    </div>
    <div class="col-md-6 col-lg-6">
      {{ dataSource?.email }}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      Age
    </div>
    <div class="col-md-6 col-lg-6">
      {{ dataSource?.age }}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      Address
    </div>
    <div class="col-md-6 col-lg-6">
      {{ dataSource?.address }}
    </div>
  </div>


</mat-dialog-content>
<div mat-dialog-actions style="float: right;">
  <button mat-raised-button mat-dialog-close>Close</button>
  <!-- <button mat-button (click)="onSubmit()">Submit</button> -->
</div>
