$colorMain: #189ab4;
$colorBackground: #fff;

.title-page {
  padding: 20px;
  background-color: #008080;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}

.full-width {
  width: 100%;
}

.material-icons-custom {
  color: #000 !important;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.aligned-with-icon {
  font-size: 26px;
  color: #000 !important;
  position: absolute;
  margin-top: 2px;
  margin-left: 5px; /* optional */
}

.banner {
  display: inline-block;
  background: $colorMain;
  color: $colorBackground;
  padding: 5px 30px 5px 5px;
  border-top: 1px solid $colorBackground;
  border-bottom: 1px solid $colorBackground;
  box-shadow: 0px 3px 0 $colorMain, 0 -3px $colorMain;
  position: relative;
}

.banner:before {
  content: "";
  position: absolute;
  right: -18px;
  top: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 18px 0 0;
  border-color: $colorMain transparent transparent transparent;
}

.banner--inner:after {
  content: "";
  position: absolute;
  right: -18px;
  bottom: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 0 18px;
  border-color: transparent transparent transparent $colorMain;
  box-shadow: 0 1px 0 $colorBackground;
}
.banner--inner:before {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 0;
  border-color: $colorMain transparent transparent transparent;
  box-shadow: 0 -1px 0 $colorBackground;
}
.banner:after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 0 10px;
  border-color: transparent transparent transparent $colorMain;
  box-shadow: 0 1px 0 $colorBackground;
}

.banner--content:after {
  content: "";
  background-image: url("https://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons-256/glossy-black-icons-symbols-shapes/018681-glossy-black-icon-symbols-shapes-decor2.png");
  width: 100px;
  height: 100px;
  background-size: 100%;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h2 span {
  background: #189ab4;
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
}
