<div class="container">


  <div class="row mt-5">
    <div class="col-md-12 col-lg-12">
      <h2><span>DASHBOARD</span></h2>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12 col-lg-12 ">
      <!-- start -->

      <div class="row">
        <div class="col-md-3 col-lg-3">
          <!-- start  [routerLink]="['/admin-page/borrowed-items']"-->
          <div class="card shadow-sm" style="background-color: #4CD7D0; padding: 60px;">
            <div class="card-body">
              <div style="text-align: right; font-size: 14px; color: #fff;" class="mb-4 mx-0 px-0">
                YEAR {{currentyear}}
              </div>
              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  people_alt
                </mat-icon>
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;">ITEMS</div>


            </div>
          </div>
          <!-- end -->
        </div>
        <div class="col-md-3 col-lg-3">
          <!-- start [routerLink]="['/admin-page/rooms-mngt']"-->
          <div class="card shadow-sm" style="background-color: #E1C340; padding: 60px;">
            <div class="card-body">

              <div style="text-align: right; font-size: 14px; color: #fff;" class="mb-4 mx-0 px-0">
                YEAR {{currentyear}}
              </div>

              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  meeting_room
                </mat-icon>{{rooms}}
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;"> ROOMS</div>


            </div>
          </div>
          <!-- end -->
        </div>
        <div class="col-md-3 col-lg-3">
          <!-- start [routerLink]="['/admin-page/comlab-mngt']"-->
          <div class="card shadow-sm" style="background-color: #F51720; padding: 60px;">
            <div class="card-body">

              <div style="text-align: right; font-size: 14px; color: #fff;" class="mb-4 mx-0 px-0">
                YEAR {{currentyear}}
              </div>

              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  people_alt
                </mat-icon>
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;"> COMPUTER</div>


            </div>
          </div>
          <!-- end -->
        </div>

        <div class="col-md-3 col-lg-3">
          <!-- start  [routerLink]="['/admin-page/users-mngt']"-->
          <div class="card shadow-sm" style="background-color: #317140; padding: 60px;">
            <div class="card-body">

              <div style="text-align: right; font-size: 14px; color: #fff;" class="mb-4 mx-0 px-0">
                YEAR {{currentyear}}
              </div>

              <div style="text-align: right; font-size: 28px; color: #fff;" class="mb-4 mx-0 px-0">
                <mat-icon style="position: relative; color: #fff;
                margin-right: 10px;
                top: 3px;
                left: 5px;">
                  people_alt
                </mat-icon>
              </div>
              <div style="text-align: right; font-size: 14px; color: #fff;"> USERS</div>


            </div>
          </div>
          <!-- end -->
        </div>
      </div>

      <!-- end -->
    </div>
  </div>

  <div class="row m-t-5" style="margin-top: 20px;">
    <div class="col-md-4 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div>
            <canvas width="200px" height="200px" id="piechart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
