// .nav-link {
//   padding: 10px;
//   font-style: normal;
//   font-weight: 400 !important;
//   font-size: 18px !important;
//   display: block;
//   padding: .5rem 1rem;
//   color: #000 !important;
//   text-decoration: none;
//   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
// }

// .btn-setting-design{
//   padding: 10px;
//   font-style: normal;
//   font-weight: 400 !important;
//   font-size: 18px !important;
//   display: block;
//   padding: .5rem 1rem;
//   color: #000 !important;
//   text-decoration: none;
//   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
// }

// .nav-link:hover{
//   color: aqua !important;
// }


// .active-design{
//   border-bottom: 2px solid #009688;
// }


mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-drawer  {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  // height: auto;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  color: lightgray;
}

mat-drawer-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
      margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-links {
  list-style: none;
  position: relative;
}

.nav-links li {
  padding: 10px 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}

.nav-links li a i {
  font-size: 22px;
  // margin-right: 20px;
}

.active {
  background: #000000;
  width: 100%;
  height: 47px;
  position: absolute;
  left: 0;
  top: 2.6%;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
  display: none;
  transition: top 0.5s;
}

.nav-links li:hover a {
  color: #fff;
  transition: 0.3s;
}

// .nav-links li:hover~.active {
//   display: block;
// }

// .nav-links li:nth-child(1):hover~.active {
//   top: 2.6%;
// }

// .nav-links li:nth-child(2):hover~.active {
//   top: 19.2%;
// }

// .nav-links li:nth-child(3):hover~.active {
//   top: 35.8%;
// }

// .nav-links li:nth-child(4):hover~.active {
//   top: 52.4%;
// }

// .nav-links li:nth-child(5):hover~.active {
//   top: 69%;
// }

// .nav-links li:nth-child(6):hover~.active {
//   top: 85.6%;
// }


.example-spacer {
  flex: 1 1 auto;
}
