<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button>
    <mat-icon matSuffix>menu</mat-icon>
  </button>
  <span>Gonzales David Dental Clinic</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialogLogout()">
      <mat-icon>logout</mat-icon>LOGOUT
    </button>
    <button mat-menu-item (click)="openProfileDialog()">
      <mat-icon>face</mat-icon>PROFILE
    </button>
  </mat-menu>
</mat-toolbar>


<!-- (click)="menu.toggle()" -->

<!-- <mat-sidenav-container>
    <h1>hello</h1>
    <mat-sidenav class="mat-elevation-z8">
      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>About</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>

  </mat-sidenav>
      <mat-sidenav-content>
          <div class="content mat-elevation-z8">
              Main content here!
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container> -->

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>

    <img class="avatar mat-elevation-z8" src="https://www.wiomsa.org/wp-content/uploads/2019/08/personnel-icon.png" />

    <h4 class="name">{{values?.fname}} &nbsp; {{values?.mname}} &nbsp; {{values?.lname}} &nbsp;</h4>

    <div *ngIf="values?.user_role == 1; else otherStatus">
      <p class="designation">🟢 Admin</p>
    </div>

    <ng-template #otherStatus>
      <p class="designation">🟢 Client</p>
    </ng-template>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLinkActive="active-design" [routerLink]="['/doctor-page/doctor-dashboard']">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLinkActive="active-design" [routerLink]="['/doctor-page/doctor-appointments']">
      <mat-icon>book_online</mat-icon>
      <span>Appointment</span>
    </button>
    <button mat-button class="menu-button"  routerLinkActive="active-design" [routerLink]="['/doctor-page/doctor-reports']">
      <mat-icon>report</mat-icon>
      <span>Reports</span>
    </button>

    <button mat-button class="menu-button" routerLinkActive="active-design" [routerLink]="['/doctor-page/doctor-patients']">
      <mat-icon>person</mat-icon>
      <span>Patients</span>
    </button>


    <button mat-button class="menu-button" routerLinkActive="active-design" [routerLink]="['/doctor-page/calendar-schedule']">
      <mat-icon>today</mat-icon>
      <span>Calendar</span>
    </button>

    <button mat-button class="menu-button" routerLinkActive="active-design" [routerLink]="['/doctor-page/services-list']">
      <mat-icon>medical_services</mat-icon>
      <span>Services</span>
    </button>

    <button mat-button class="menu-button" routerLinkActive="active-design" [routerLink]="['/doctor-page/transaction-history']">
      <mat-icon>history</mat-icon>
      <span>Payment History</span>
    </button>


  </mat-drawer>
  <mat-drawer-content>
    <div class="content mat-elevation-z8">

      <div class="container">
        <div class="row mx-0 px-0">
          <div class="col-md-12 col-lg-12 mx-0 px-0">

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>

    </div>
  </mat-drawer-content>


</mat-drawer-container>
