<div class="container px-0 mx-0">
  <mat-dialog-content class="mx-0 px-0" style="width: 800px;">

    <div style="display: flex; justify-content: flex-end;">
      <div mat-dialog-close>X</div>
    </div>

    <div class="row px-0 mx-0">
      <div class="col-md-12 col-lg-12">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">account_circle</mat-icon>
            </ng-template>

            <!-- start -->
            <div class="row px-0 mx-0 mt-5 form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">

                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      FULLNAME
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.fname}} &nbsp; {{DataValues.mname}} &nbsp; {{DataValues.lname}}
                    </div>
                  </div>
                </div>

                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      DATE OF BIRTH
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.dob}}
                    </div>
                  </div>
                </div>

                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      AGE
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.age}}
                    </div>
                  </div>
                </div>


                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      CONTACT NUMBER
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.contact_no}}
                    </div>
                  </div>
                </div>

                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      EMAIL ADDRESS
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.email}}
                    </div>
                  </div>
                </div>


                <div class="row px-0 mx-0"
                  style="border-bottom: 1px solid #c1c1c1; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-3 col-lg-3">
                    <div>
                      ADDRESS
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6">
                    <div>
                      {{DataValues.address}}
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <!-- end -->
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">edit</mat-icon>
            </ng-template>

            <form [formGroup]="signupform">
              <!-- <div class="row px-0">
              <div class="col-md-12 col-lg-12"> -->

              <!-- </div>
            </div> -->

              <div class="row px-0 mx-0 mt-5 form-group">
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Firstname</mat-label>
                    <input formControlName="fname" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('fname').errors && signupform.get('fname').touched">
                      Firstname is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Middlename</mat-label>
                    <input formControlName="mname" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('mname').errors && signupform.get('mname').touched">
                      Middlename is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Lastname</mat-label>
                    <input formControlName="lname" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('lname').errors && signupform.get('lname').touched">
                      Lastname is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>

              <div class="row px-0 mx-0">

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Date of Birth</mat-label>
                    <input formControlName="dob" type="date" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('dob').errors && signupform.get('dob').touched">
                      Date of Birth is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option>Please select one</mat-option>
                      <mat-option value="0">Female</mat-option>
                      <mat-option value="1">Male</mat-option>
                    </mat-select>
                    <mat-error *ngIf="signupform.get('gender').errors && signupform.get('gender').touched">
                      Gender is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row px-0 mx-0 form-group">
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('username').errors && signupform.get('username').touched">
                      Username is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" [type]="hide ? 'password' : 'text'" matInput placeholder=""
                      value="">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <!-- <mat-error *ngIf="signupform.get('password').errors && signupform.get('password').touched">
                    Password is <span><b>required</b></span>
                  </mat-error> -->
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Re-enter password</mat-label>
                    <input formControlName="retypepassword" [type]="hide ? 'password' : 'text'" type="password" matInput
                      placeholder="" value="">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <!-- <mat-error *ngIf="signupform.controls['retypepassword'].hasError('required')  && signupform.get('retypepassword').touched">
                    Required Fields
                  </mat-error> -->
                    <mat-error
                      *ngIf="signupform.controls['retypepassword'].hasError('notEquivalent')  && signupform.get('retypepassword').touched">
                      Password and Confirm Password doesn't match.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row px-0 mx-0">
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Contact Number</mat-label>
                    <span matPrefix>+63 &nbsp;</span>
                    <input (keypress)="numberOnly($event)" [pattern]="mobNumberPattern" formControlName="mobile"
                      matInput placeholder="999999999">
                    <mat-error
                      *ngIf="signupform.controls['mobile'].hasError('required')  && signupform.get('mobile').touched">
                      Mobile number is <span><b>required</b></span>
                    </mat-error>
                    <mat-error *ngIf="signupform.get('mobile').errors?.pattern && signupform.get('mobile').touched">
                      Mobile number is <span><b>Invalid</b></span>
                    </mat-error>

                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Email Address</mat-label>
                    <input formControlName="email" matInput placeholder="" value="">

                    <mat-error
                      *ngIf="signupform.controls['email'].hasError('required')  && signupform.get('email').touched">
                      Email is <span><b>required</b></span>
                    </mat-error>

                    <mat-error
                      *ngIf="signupform.controls['email'].hasError('email')  && signupform.get('email').touched">
                      Email is <span><b>Invalid</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Address</mat-label>
                    <input formControlName="address" matInput placeholder="" value="">
                    <mat-error *ngIf="signupform.get('address').errors && signupform.get('address').touched">
                      Address is <span><b>required</b></span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="row px-0 mx-0 form-group">
                <div class="col-md-12 col-lg-12">
                  <div style="float: right;" class="mb-2">
                    <button (click)="onSubmit()" mat-raised-button>
                      <mat-icon style="position: relative;
                      margin-right: 10px;
                      top: -2px;
                      left: 5px;">
                        edit
                      </mat-icon>Update
                    </button>
                    <!-- <button  (click)="openMap()" mat-button >map</button> -->
                  </div>

                </div>
              </div>

            </form>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">history</mat-icon>
            </ng-template>

            <div class="row px-0 mx-0 mt-5">
              <div class="col-md-12 col-lg-12">
                <div>
                  ACTIVITY LOG
                </div>
              </div>
            </div>

          </mat-tab>
        </mat-tab-group>
      </div>
    </div>


  </mat-dialog-content>
</div>
