

<h2 mat-dialog-title>Update Services</h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">
  <form [formGroup]="createform">


    <div class="row">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="example-full-width">
          <mat-label>Service name</mat-label>
          <input matInput formControlName="service_name">
          <mat-error *ngIf="createform.get('service_name').errors && createform.get('service_name').touched">
            Service is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row" hidden>
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="example-full-width">
          <mat-label>No. of Teeth</mat-label>
          <input matInput formControlName="noOfteeth">
          <!-- <mat-error *ngIf="createform.get('noOfteeth').errors && createform.get('noOfteeth').touched">
            No. of Teeth is <span><b>required</b></span>
          </mat-error> -->
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
          <mat-error *ngIf="createform.get('description').errors && createform.get('description').touched">
           Description is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="example-full-width">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price">
          <mat-error *ngIf="createform.get('price').errors && createform.get('price').touched">
            Price is <span><b>required</b></span>
           </mat-error>
        </mat-form-field>
      </div>
    </div>








  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Update</button>
</mat-dialog-actions>
