


<div class="container">
  <div class="row mt-3">
    <div class="col-md-12 col-lg-12 px-0 mx-0">

      <div style="float:left">
        <input matInput type="text" #inp>
        <!-- button -->
        <button (click)="applyFilter(inp.value)" class="button-in-search-text btn customized_add_btn">
          Search
        </button>
      </div>


      <div style="float: right;">
        <div class="px-0 mx-0" style="height: 45px;">
          <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
            [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>



    </div>
  </div>


  <div class="row mt-2 ">
    <div class="col-md-12 col-lg-12 ">
      <!-- start -->

      <div class="table-container">
        <table mat-table [dataSource]="dataSource">

          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{i + (this.paginate.pageSize * this.paginate.page) + 1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td style="width:200px;" mat-cell *matCellDef="let element"> {{element.appointment_date}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element"> {{element.appointment_time}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.appointment_category}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.user_status == 'Waiting' " class="text-warning">
                {{ element.user_status }}
              </div>
              <div *ngIf="element.user_status == 'Scheduled' " class="text-success">
                {{ element.user_status }}
              </div>
              <div *ngIf="element.user_status == 'Rejected' " class="text-danger">
                {{ element.user_status }}
              </div>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="controls">
            <th mat-header-cell *matHeaderCellDef> Controls </th>
            <td style="width:300px;" mat-cell *matCellDef="let element">
              <div *ngIf="element.user_status == 'Rejected' " class="text-danger">
                <button matTooltip="Edit Appointment" matTooltipPosition="left" disabled
                  class="button-in-search-text btn customized_add_btn"
                  style="margin-right: 10px !important; cursor: not-allowed;">
                  Edit
                </button>
                <button (click)="opencomment()" matTooltip="View Comment" matTooltipPosition="right"
                  class="button-in-search-text btn customized_add_btn">
                  Comment
                </button>
              </div>
              <div *ngIf="element.user_status == 'Waiting' " class="text-warning">
                <button (click)="openConfirmDialog(element.id)" matTooltip="Edit Appointment" matTooltipPosition="left"
                  class="button-in-search-text btn customized_add_btn" style="margin-right: 10px !important;;">
                  Edit
                </button>
              </div>


            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>






      <!-- end -->
    </div>
  </div>

</div>
