



<div class="container" style="padding-left: 33px; padding-right: 36px;">

  <div class="row" style="margin-top: 41px;">
    <div class="col-md-12 col-lg-12 mx-0 px-0">
      <!-- <div style="display: flex;"> -->
      <div>
        <span class="dialog-title">User Graph </span>
      </div>
      <div style="float:right; margin-top: -27px;" >
        <mat-icon mat-dialog-close [ngStyle]="{'color':'#e5e5e5'}">cancel</mat-icon>
      </div>
      <!-- </div> -->
    </div>
  </div>




<div class="row mx-0 px-0">
  <div class="col-md-12 col-lg-12 mx-0 px-0">
    <!--  -->
    <mat-dialog-content class="mat-dialog-view">

      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>

    </mat-dialog-content>
    <!--  -->
  </div>
</div>

</div>

