.container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .submit-btn {
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    font-family: "Meiryo";
    padding: 5px 30px;
    width: fit-content;
  }
}
