<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button>
    <mat-icon matSuffix>menu</mat-icon>
  </button>
  <span>Gonzales David Dental CLinic</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>
  </button> -->
  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialogLogout()">
      <mat-icon>logout</mat-icon>LOGOUT
    </button>
    <button mat-menu-item (click)="openProfileDialog()">
      <mat-icon>face</mat-icon>PROFILE
    </button>
  </mat-menu> -->
</mat-toolbar>


<router-outlet></router-outlet>
