<div class="center">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card shadow-sm p-3 mb-5 rounded">
        <div class="card-header" style="text-align: center; background-color: #21868c; color: #fff;">
          CREATE ACCOUNT
        </div>
        <div class="card-body">
          <!-- start -->

          <form [formGroup]="createform">

            <div class="row form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <mat-form-field class="full-width">
                  <mat-label>Username</mat-label>
                  <input formControlName="username" matInput placeholder="">
                  <mat-error *ngIf="createform.get('username').errors && createform.get('username').touched">
                    Username is <span><b>required</b></span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <!--  -->

            <div class="row form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <mat-form-field class="full-width">
                  <mat-label>Firstname</mat-label>
                  <input formControlName="fname" matInput placeholder="">
                  <mat-error *ngIf="createform.get('fname').errors && createform.get('fname').touched">
                    Firstname is <span><b>required</b></span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <mat-form-field class="full-width">
                  <mat-label>Middlename</mat-label>
                  <input formControlName="mname" matInput placeholder="">
                  <!-- <mat-error *ngIf="createform.get('mname').errors && createform.get('mname').touched">
                    Middlename is <span><b>required</b></span>
                  </mat-error> -->
                </mat-form-field>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <mat-form-field class="full-width">
                  <mat-label>Lastname</mat-label>
                  <input formControlName="lname" matInput placeholder="">
                  <mat-error *ngIf="createform.get('lname').errors && createform.get('lname').touched">
                    Lastname is <span><b>required</b></span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <!-- --- -->

            <div class="row form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">

                <mat-form-field class="full-width">
                  <mat-label>Email Address</mat-label>
                  <input formControlName="email_add" matInput placeholder="">
                  <mat-error
                    *ngIf="createform.get('email_add').errors?.required && createform.get('email_add').touched">
                    Email is <span><b>required</b></span>
                  </mat-error>
                  <mat-error *ngIf="createform.get('email_add').errors?.email && createform.get('email_add').touched">
                    Email is <span><b>invalid</b></span>
                  </mat-error>
                </mat-form-field>

              </div>
            </div>

            <!-- [pattern]="mobNumberPattern" -->

            <div class="row form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <mat-form-field class="full-width">
                  <mat-label>Contact No.</mat-label>
                  <input (keypress)="numberOnly($event)" [pattern]="mobNumberPattern" formControlName="contact_no"
                    matInput placeholder="">
                  <mat-error
                    *ngIf="createform.get('contact_no').errors?.required && createform.get('contact_no').touched">
                    Contact No. is <span><b>required</b></span>
                  </mat-error>
                  <mat-error
                    *ngIf="createform.get('contact_no').errors?.minlength && createform.get('contact_no').touched">
                    Must only contain <span><b>10 Digit</b></span>
                  </mat-error>
                  <mat-error
                    *ngIf="createform.get('contact_no').errors?.maxlength && createform.get('contact_no').touched">
                    Must only contain <span><b>10 Digit</b></span>
                  </mat-error>
                  <mat-error
                    *ngIf="createform.get('contact_no').errors?.pattern && createform.get('contact_no').touched">
                    Mobile number is <span><b>Invalid</b></span>
                  </mat-error>




                </mat-form-field>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <mat-form-field class="full-width">
                  <mat-label>Address</mat-label>
                  <input formControlName="address" matInput placeholder="">
                  <mat-error *ngIf="createform.get('address').errors && createform.get('address').touched">
                    Address is <span><b>required</b></span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input type="password"  minlength="6"  formControlName="password" matInput placeholder="">
                  <mat-error *ngIf="createform.get('password').errors && createform.get('password').touched">
                    Password is <span><b>required</b></span>
                  </mat-error>
                  <mat-error *ngIf="createform.get('password').errors?.minlength && createform.get('password').touched">
                    Password minimum of <span><b>6</b></span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row form-group">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <mat-form-field class="full-width">
                  <mat-label>Retype Password</mat-label>
                  <input formControlName="re_enterpass" [type]="hide ? 'password' : 'text'" matInput placeholder=""
                   >
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="createform.get('re_enterpass').errors?.required && createform.get('re_enterpass').touched">
                    Password is <span><b>required</b></span>
                  </mat-error>
                  <mat-error
                    *ngIf="createform.get('re_enterpass').errors?.notEquivalent && createform.get('re_enterpass').touched">
                    Password and Confirm Password doesn't match.
                  </mat-error>
                  <mat-error *ngIf="createform.get('re_enterpass').errors?.minlength && createform.get('re_enterpass').touched">
                    Password minimum of <span><b>6</b></span>
                  </mat-error>
                </mat-form-field>

              </div>
            </div>

            <!-- NOTE -->
            <div class="row mt-3">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <div>
                  <span class="note-design">Note:</span><span class="font-italic"><i>Please enter valid mobile number
                      for SMS Notification</i></span>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <div style="float: right;">
                  <button mat-button color="primary" mat-raised-button (click)="onSubmit()"> SUBMIT</button>
                </div>
              </div>
            </div>

            <!-- FOOTER AREA FOR BUTTONS -->
            <div class="row mt-5">
              <div class="col-md-12 col-lg-12 px-0 mx-0">
                <div>
                  <div style="float: left;">
                    <div style="cursor: pointer;" [routerLink]="['/login']">
                      GO BACK TO LOGIN
                    </div>
                  </div>
                  <div style="float: right;">
                    <!-- <div style="cursor: pointer;" [routerLink]="['/']">
                    <div>
                      <mat-icon style="position: relative;
                      margin-right: 10px;
                      top: -2px;
                      left: 5px;">
                        home
                      </mat-icon> HOME
                    </div> -->
                    |
                    <button [routerLink]="['/']" routerLinkActive="active-design" class="btn-setting-design" mat-button>
                      <mat-icon style="position: relative;
                    margin-right: 10px;
                    top: -2px;
                    left: 5px;">
                        home
                      </mat-icon>HOME
                    </button>

                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>


          </form>






          <!--  -->


          <!-- end -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="custom-shape-divider-bottom-1627488606" style="z-index: -1;">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path
      d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
      opacity=".25" class="shape-fill"></path>
    <path
      d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
      opacity=".5" class="shape-fill"></path>
    <path
      d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
      class="shape-fill"></path>
  </svg>
</div>
