<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 col-lg-12">
      <div>
        <mat-icon class="material-icons-custom"> today</mat-icon><span class="aligned-with-icon">Calendar</span>
      </div>
    </div>
  </div>

  <hr>
  <div class="row mt-4">
    <div class="col-md-12 col-lg-12 mx-0 px-0">
      <p>Legend</p>
      <div class="mb-3">
        <ul class="legend">
          <li><span class="waiting"></span>WAITING</li>
          <li><span class="scheduled"></span> SCHEDULED</li>
          <li><span class="rejected"></span>REJECTED</li>
      </ul>
      </div>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-md-12 col-lg-12 px-0 mx-0">
        <full-calendar [options]="calendarOptions"  ></full-calendar>
    </div>
  </div>

</div>
