.title-page{
  padding: 20px;
  background-color: #008080;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}

::ng-deep .fc-col-header-cell-cushion {
  color: #000 !important;
}

::ng-deep a {
  // color: #0d6efd;
  color: #000 !important;
  text-decoration: none !important;
}

::ng-deep .fc-h-event {
  cursor: pointer !important;
}


.legend { list-style: none; margin-left: 0px; padding-left: 0px;}
.legend li { float: left; margin-right: 10px; padding-left: 0px; margin-left: 0px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .waiting { background-color: #E1C340; }
.legend .scheduled { background-color: #317140; }
.legend .rejected { background-color: #F51720; }



.material-icons-custom {
  color: #000 !important;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.aligned-with-icon {
  font-size: 26px;
  color: #000 !important;
  position: absolute;
  margin-top: 2px;
  margin-left: 5px; /* optional */
}
