.center {
  position: absolute;
  width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.note-design {
  font-weight: 700;
  padding-right: 5px;
}

//july 29 2021

.custom-shape-divider-bottom-1627488606 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627488606 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 257px;
}

.custom-shape-divider-bottom-1627488606 .shape-fill {
  fill: #21868c;
}

.full-width {
  width: 100%;
}
.example-tab-icon {
  margin-right: 8px;
}

::ng-deep .toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
