<h2 mat-dialog-title>Add Note</h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">


  <form [formGroup]="createform">

    <div class="row form-group">
      <div class="col-md-12 col-lg-12 ">

        <mat-form-field class="full-width">
          <mat-label>Message</mat-label>
          <textarea matInput formControlName="message"></textarea>
           <mat-error *ngIf="createform.get('message').errors && createform.get('message').touched">
            Message is <span><b>required</b></span>
          </mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="full-width">
          <mat-label>Message</mat-label>
          <input formControlName="message" matInput placeholder="" value="">
          <mat-error *ngIf="createform.get('message').errors && createform.get('message').touched">
            Message is <span><b>required</b></span>
          </mat-error>
        </mat-form-field> -->


      </div>
    </div>



    <div class="row form-group">
      <div class="col-md-12 col-lg-12 ">

        <mat-form-field class="full-width">
          <mat-label>Teeth No.</mat-label>
          <input formControlName="teeth_no" readonly matInput placeholder="">
        </mat-form-field>

        <!-- <mat-form-field class="full-width">
          <mat-label>Message</mat-label>
          <input formControlName="message" matInput placeholder="" value="">
          <mat-error *ngIf="createform.get('message').errors && createform.get('message').touched">
            Message is <span><b>required</b></span>
          </mat-error>
        </mat-form-field> -->


      </div>
    </div>

  </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button  (click)="onSubmit()" >Yes</button>
</mat-dialog-actions>

<!-- (click)="onSubmit()" -->
