<div class="container">

<div class="row mt-5 mb-5">
  <div class="col-md-12 col-lg-12">
    <div>
      <mat-icon class="material-icons-custom"> book_online</mat-icon><span class="aligned-with-icon">Appointments</span>
    </div>
  </div>
</div>

<hr>

<div class="row mt-4">
  <div class="col-md-12 col-lg-12 mx-0 px-0 d-flex justify-content-end">
    <button style="background-color: #008080; color: #fff;" (click)="addwalkin()" mat-raised-button class="pl-3">
      <mat-icon style="position: relative;
        margin-right: 10px;
        left: 5px;">
        post_add
      </mat-icon>Add
    </button>
  </div>
</div>


<div class="row mt-3">
  <div class="col-md-12 col-lg-12">


    <div style="float:left">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input style="color: #000;" matInput type="text" #inp>
      </mat-form-field>
      <!-- button -->
      <button (click)="applyFilter(inp.value)" class=" btn customized_add_btn">
        Search
      </button>
    </div>


    <div style="float: right;">
      <div class="px-0 mx-0" style="height: 45px;">
        <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
          [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
      </div>
    </div>



  </div>
</div>


<div class="table-container mt-3 mb-5">
  <table mat-table [dataSource]="dataSourceAll">

    <ng-container matColumnDef="number">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> No. </th>
      <td style="width: auto;" mat-cell *matCellDef="let element; let i = index">
        {{i + (this.paginate.pageSize * this.paginate.page) + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Fullname </th>
      <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.client_table.fname}} &nbsp;  {{element.client_table.mname}}  &nbsp;  {{element.client_table.lname}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Date </th>
      <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.appointment_date}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Time </th>
      <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.appointment_time}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Category </th>
      <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.appointment_category}} </td>
    </ng-container>

    <ng-container matColumnDef="user_status">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Status </th>
      <td style="width: auto;" mat-cell *matCellDef="let element">


        <div *ngIf="element.user_status === 'Waiting'">
          <div class="text-warning"><strong>{{element.user_status}}</strong></div>
        </div>
        <div *ngIf="element.user_status === 'Scheduled'">
          <div class="text-success"><strong>{{element.user_status}}</strong></div>
        </div>

        <div *ngIf="element.user_status === 'Rejected'">
          <div class="text-danger"><strong>Cancelled</strong></div>
        </div>


      </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="conttrols">
      <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Controls </th>
      <td mat-cell *matCellDef="let element">
        <!-- <div *ngIf="element.user_status === 'Scheduled' ">
              <button (click)="openReject(element.id)" matTooltip="Delete"  matTooltipPosition="right"  class="button-in-search-text btn customized_add_btn_delete">
                Reject
              </button>
            </div> -->
        <div class="d-flex" *ngIf="element.user_status === 'Waiting'">
          <div>
            <button (click)="openReject(element.id, element.client_table.contact_no)" matTooltip="Reject"
              matTooltipPosition="right" class="button-in-search-text btn customized_add_btn_delete">
              Cancel
            </button>
          </div>

          <div>
            <button (click)="openConfirmDialog(element.id, element.client_id, element.appointment_date, element.appointment_time, element.appointment_category)" matTooltip="Confirm"
              matTooltipPosition="right" class="button-in-search-text btn customized_add_btn_confirm">
              Confirm
            </button>
          </div>

          <div>
            <button (click)="editAppointment(element.id,  element.client_id, element.appointment_date, element.appointment_time, element.appointment_category)" matTooltip="Confirm"
              matTooltipPosition="right" class="button-in-search-text btn customized_add_btn_edit">
              Edit
            </button>
          </div>


        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsAll; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAll;"></tr>
  </table>

</div>

<div *ngIf="!dataSourceAll">
    <h1>There are no records yet</h1>
</div>

</div>
