<h1 mat-dialog-title>Add Appointment test</h1>
<mat-dialog-content style="width: 350px;">

  <form [formGroup]="formCreate">
  <div class="row form-group">
    <div class="col-md-12 col-lg-12">
      <!-- <mat-form-field class="full-width">
        <mat-label>Appointment Date</mat-label>
        <input type="date" formControlName="appointmentdate" matInput placeholder="" value="">
      </mat-form-field> -->

      <mat-form-field class="full-width">
        <mat-label>Appointment Date </mat-label>
        <input readonly [matDatepicker]="picker"  [min]="myDate"  formControlName="appointmentdate" matInput placeholder="" value="">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker ></mat-datepicker>
        <!-- [matDatepicker]="picker" -->
        <!-- dateChange -->
      </mat-form-field>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12 col-lg-12">
      <!-- <mat-form-field class="full-width">
        <mat-label>Appointment Time</mat-label>
        <input type="time" formControlName="appointmenttime" matInput placeholder="" value="">
      </mat-form-field> -->
      <mat-form-field class="full-width">
        <mat-label>Appointment Time</mat-label>
        <mat-select formControlName="appointmenttime" multiple>
          <mat-option *ngFor="let time of this.timeList" [value]="time">{{time}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12 col-lg-12">

      <!-- <mat-form-field class="full-width"> -->
        <!-- <mat-label>Choose Visit Category</mat-label>
        <mat-select formControlName="category" placeholder="Choose Visit Category">
          <mat-option value="Tooth extraction">Tooth extraction</mat-option>
          <mat-option value="Fillings and Repair">Fillings and Repair</mat-option>
          <mat-option value="Braces">Braces</mat-option>
          <mat-option value="Root canal">Root canal</mat-option>
          <mat-option value="Teeth Whitening">Teeth Whitening</mat-option>
        </mat-select> -->

      <!-- </mat-form-field> -->

      <mat-form-field class="full-width">
        <mat-label>Choose Visit Category</mat-label>
        <mat-select formControlName="category" multiple>
          <mat-option *ngFor="let topping of this.categoryList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>


  </form>

</mat-dialog-content>
<div mat-dialog-actions style="float: right;">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</div>
