<div class="container">

<div class="row mt-5">
  <div class="col-md-12 col-lg-12">
    <div>
      <mat-icon> report</mat-icon><span class="aligned-with-icon">Reports</span>
    </div>
  </div>
</div>

<hr>

<!-- <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div> -->

<mat-tab-group class="mt-3">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">people</mat-icon>
      USERS
    </ng-template>



    <div class="row mx-0 px-0 mt-5 mb-3">
      <div class="col-md-4 col-lg-4 mx-0 px-0">

          <mat-form-field class="example-full-width">
            <mat-label>Please Select One</mat-label>
            <mat-select (selectionChange)="doSomething($event)">
              <mat-option value="0">Daily</mat-option>
              <!-- <mat-option value="1">Per Week</mat-option> -->
              <mat-option value="2">Monthly</mat-option>
              <mat-option value="3">Yearly</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>


      <div *ngIf="zero_one" class="row mx-0 px-0 mb-5">
        <div class="col-md-4 col-lg-4 mx-0 px-0">
          <mat-form-field class="example-full-width">
            <mat-label>Choose a date</mat-label>
            <input formControlName="datepick" matInput [matDatepicker]="picker" readonly
              (dateChange)="onChangeEventUsers($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="zero_three" class=" row mb-5 mx-0 px-0">
        <div class="col-md-4 col-lg-4xxxxSx` mx-0 px-0">
          <form [formGroup]="permonthform">
            <mat-form-field class="example-full-width">
              <mat-label>Choose a month</mat-label>
              <mat-select formControlName="monthreportuser">
                <mat-option value="1">January</mat-option>
                <mat-option value="2">February</mat-option>
                <mat-option value="3">March</mat-option>
                <mat-option value="4">April</mat-option>
                <mat-option value="5">May</mat-option>
                <mat-option value="6">June</mat-option>
                <mat-option value="7">July</mat-option>
                <mat-option value="8">August</mat-option>
                <mat-option value="9">Septembe</mat-option>
                <mat-option value="10">October</mat-option>
                <mat-option value="11">Novmber</mat-option>
                <mat-option value="12">December</mat-option>
              </mat-select>
              <!-- <input formControlName="permonthreport" matInput [matDatepicker]="picker" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker> -->
            </mat-form-field>

            <br>

            <button (click)="onsubmitMonthlyUser()" mat-raised-button>
              <mat-icon style="position: relative;
              margin-right: 10px;
              top: -2px;
              left: 5px;">
                done
              </mat-icon>SUBMIT
            </button>
          </form>
        </div>
      </div>
      <div *ngIf="zero_four" class="row mx-0 px-0 mb-5">
        <div class="col-md-3 col-lg-3 mx-0 px-0">
          <form [formGroup]="peryearform">
            <mat-form-field class="example-full-width">
              <mat-label>Choose a year</mat-label>
              <mat-select formControlName="yearreportuser">
                <mat-option *ngFor="let year of years" [value]="year">
                  {{year}}
                </mat-option>
              </mat-select>
              <!-- <input formControlName="permonthreport" matInput [matDatepicker]="picker" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker> -->
            </mat-form-field>
            <br>
            <button (click)="onsubmitYearUser()" mat-raised-button>
              <mat-icon style="position: relative;
              margin-right: 10px;
              top: -2px;
              left: 5px;">
                done
              </mat-icon>SUBMIT
            </button>
          </form>
        </div>
      </div>

    <div class="row mx-0 px-0" *ngIf="isShowUsers">
      <div class="col-md-12 col-lg-12 mx-0 px-0">
        <div style="float: right;">
          <div style="display: flex; flex-direction: row; float: right;">
            <div>
              <button class="btn-setting-design" ngxPrintItemButton divID="users_print_div" mat-raised-button>
                <mat-icon style="position: relative;
                margin-right: 10px;
                top: -2px;
                left: 5px;">
                  print
                </mat-icon> PRINT
              </button>
            </div>
            <div>
              <button class="btn-setting-design" (click)="opengraphappointment(dataValuesUser)" mat-raised-button>
                <mat-icon style="position: relative;
                margin-right: 10px;
                top: -2px;
                left: 5px;">
                  leaderboard
                </mat-icon> GRAPH
              </button>
            </div>
            <!-- </div> -->
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>



    <div id="users_print_div" style="margin-top: -10px;" *ngIf="isShowUsers">
      <div class="row  mx-0 px-0 mt-3">
        <div class="col-md-12 col-lg-12">

          <div class="mt-3">
            <table class="table table-bordered table-product">
              <thead>
                <tr>
                  <th>Full name</th>
                  <th>Date of Birth</th>
                  <th>Gender</th>
                  <th>Contact Number</th>
                  <th>Emaill Address</th>
                  <th>Status</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataValuesUser">
                  <td>{{item.fname}} &nbsp; {{item.mname}} &nbsp; {{item.lnames}}</td>
                  <td>{{item.dob}}</td>
                  <td>
                    <div *ngIf="item.gender == 1; else genderreveal">
                      Male
                    </div>
                    <ng-template #genderreveal>
                      Female
                    </ng-template>
                  </td>
                  <td>{{item.contact_no}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.user_status}}</td>
                  <td>{{item.date_created}}</td>
                  <!-- <td>{{dataValues.name}}</td>
                    <td>{{dataValues.dob}}</td>
                    <td>{{dataValues.gender}}</td>
                    <td>{{dataValues.contact_no}}</td>
                    <td>{{dataValues.email}}</td> -->
                </tr>
              </tbody>
            </table>


          </div>

        </div>
      </div>







    </div>



    <!-- <button (click)="printPage()">print</button> -->

  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">book_online</mat-icon>
      APPOINTMENT
    </ng-template>


    <div class="row mx-0 px-0 mt-5">
      <div class="col-md-3 col-lg-3 mx-0 px-0">
        <form [formGroup]="dateForm">
          <mat-form-field class="ml-5 example-full-width">
            <mat-label>Please Select One</mat-label>
            <mat-select (selectionChange)="appointmentselection($event)">
              <mat-option value="0">Daily</mat-option>
              <!-- <mat-option value="1">Per Week</mat-option> -->
              <mat-option value="2">Monthly</mat-option>
              <mat-option value="3">Yearly</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>



    <div *ngIf="zero_five" class="mx-0 px-0">
      <div class="row mx-0 px-0">
        <div class="col-md-12 col-lg-12 mx-0 px-0">
          <div class=" mb-2">
            <div style="float: left;">
              <form [formGroup]="dateFormAppointment">
                <mat-form-field class="example-full-width">
                  <mat-label>Choose a date</mat-label>
                  <input formControlName="datepickAppointment" matInput placeholder="PLease Select Date"
                    [matDatepicker]="pickers" readonly (dateChange)="onChangeEventAppointment($event)">
                  <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #pickers></mat-datepicker>
                </mat-form-field>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div *ngIf="zero_six" class="mx-0 px-0">
      <div class="row mx-0 px-0">
        <div class="col-md-12 col-lg-12 mx-0 px-0">
          <div class="mb-2">
            <div style="float: left;">
              <form [formGroup]="dateFormAppointment">
                <mat-form-field class="example-full-width">
                  <mat-label>Choose a date</mat-label>
                  <input formControlName="datepickAppointment" matInput placeholder="PLease Select Date"
                    [matDatepicker]="pickers" readonly (dateChange)="onChangeEventAppointment($event)">
                  <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #pickers></mat-datepicker>
                </mat-form-field>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div *ngIf="zero_seven" class="mx-0 px-0">
      <div class="row mx-0 px-0">
        <div class="col-md-12 col-lg-12 mx-0 px-0">
          <div class=" mb-2">
            <div style="float: left;">
              <form [formGroup]="permonthformappointment">
                <mat-form-field class="example-full-width">
                  <mat-label>Choose a month</mat-label>
                  <mat-select formControlName="monthreportAppointment">
                    <mat-option value="1">January</mat-option>
                    <mat-option value="2">February</mat-option>
                    <mat-option value="3">March</mat-option>
                    <mat-option value="4">April</mat-option>
                    <mat-option value="5">May</mat-option>
                    <mat-option value="6">June</mat-option>
                    <mat-option value="7">July</mat-option>
                    <mat-option value="8">August</mat-option>
                    <mat-option value="9">Septembe</mat-option>
                    <mat-option value="10">October</mat-option>
                    <mat-option value="11">Novmber</mat-option>
                    <mat-option value="12">December</mat-option>
                  </mat-select>
                  <!-- <input formControlName="permonthreport" matInput [matDatepicker]="picker" readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker> -->
                </mat-form-field>
                <br>
                <button (click)="onsubmitMonthlyAppointment()" mat-raised-button>
                  <mat-icon style="position: relative;
                  margin-right: 10px;
                  top: -2px;
                  left: 5px;">
                    done
                  </mat-icon> SUBMIT
                </button>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div *ngIf="zero_eight" class="mx-0 px-0">
      <div class="row mx-0 px-0">
        <div class="col-md-12 col-lg-12 mx-0 px-0">
          <div class=" mb-2">
            <div style="float: left;">
              <form [formGroup]="peryearformappointment">
                <mat-form-field class="example-full-width">
                  <mat-label>Choose a year</mat-label>
                  <mat-select formControlName="yearreportappointment">
                    <mat-option *ngFor="let year of years" [value]="year">
                      {{year}}
                    </mat-option>
                  </mat-select>
                  <!-- <input formControlName="permonthreport" matInput [matDatepicker]="picker" readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker> -->
                </mat-form-field>
                <br>
                <button (click)="onsubmitYearAppointment()" mat-raised-button>
                  <mat-icon style="position: relative;
                  margin-right: 10px;
                  top: -2px;
                  left: 5px;">
                    done
                  </mat-icon> SUBMIT
                </button>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- end of row -->

    <div class="row mx-0 px-0 mt-3" *ngIf="isShowAppointment">
      <div class="col-md-12 col-lg-12 mx-0 px-0">
        <div style="display: flex; flex-direction: row; float: right;">
          <!-- <div style="justify-content: end;"> -->
          <div>
            <button class="btn-setting-design" ngxPrintItemButton divID="appointment_print_div" mat-raised-button>
              <mat-icon style="position: relative;
              margin-right: 10px;
              top: -2px;
              left: 5px;">
                print
              </mat-icon> PRINT
            </button>
          </div>
          <div>
            <!-- (click)="opengraphappointment()" -->
            <!-- <button class="btn-setting-design" mat-raised-button>
                <mat-icon style="position: relative;
              margin-right: 10px;
              top: -2px;
              left: 5px;">
                leaderboard
              </mat-icon> GRAPH
              </button> -->
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="row mx-0 px-0 mt-5" *ngIf="!isShowAppointment">
      <div class="col-md-12 col-lg-12 mx-0 px-0">
        <div *ngIf="isLoadingAppointment">
          <!--   style="display: flex; justify-content: center; align-items: center; background: white;" -->
          <section class="example-section">
            <mat-progress-bar mode="query"></mat-progress-bar>
            <div style="position: absolute; padding: 10px; color: white;">Please Select Date</div>
          </section>
          <!-- <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner> -->

          <!-- <h3> {{value}}%</h3> -->
        </div>
      </div>
    </div>


    <div id="appointment_print_div" style="margin-top: -10px;" *ngIf="isShowAppointment">

      <div class="row mx-0 px-0 ">
        <div class="col-md-12 col-lg-12" style="border-bottom: 1px solid gray; padding: 10px;">
          <div>
            <div class="title-page">
              APPOINTMENT REPORT
            </div>
          </div>
        </div>
      </div>



      <div class="row  mx-0 px-0">
        <div class="col-md-12 col-lg-12">
          <!-- <div style="font-size: 14px; font-weight: bold;">
              APPOINTMENT LIST
            </div> -->

          <div class="mt-1">
            <table class="table table-bordered px-0 mx-0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Category</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dateValueAppointment">
                  <td>{{item.fname}} &nbsp; {{item.mname}} &nbsp; {{item.fname}} &nbsp;   </td>
                  <td>{{item.appointment_date}}</td>
                  <td>{{item.appointment_time}}</td>
                  <td>{{item.appointment_category}}</td>
                  <td>{{item.user_status}}</td>

                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <!--  -->
      <div class="row  mx-0 px-0">
        <div class="col-md-12 col-lg-12">
          <!-- <div style="font-size: 14px; font-weight: bold;">
              APPOINTMENT LIST
            </div> -->

          <div class="mt-1">
            <table class="table table-bordered px-0 mx-0">
              <thead>
                <tr>
                  <th>Tooth extraction</th>
                  <th>Fillings and Repair</th>
                  <th>Braces</th>
                  <th>Root Canal</th>
                  <th>Teeth Whitening</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dateValueAppointment">
                  <td>{{item.count_tooth_extract}}</td>
                  <td>{{item.count_fil_repair}}</td>
                  <td>{{item.count_braces}}</td>
                  <td>{{item.count_root_canal}}</td>
                  <td>{{item.count_teeth_whitening}}</td>

                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>








    </div>

  </mat-tab>
  <!-- <mat-tab label="CATEGORY">

      <mat-tab-group class="mt-4">
        <mat-tab label="Tooth Extraction"> </mat-tab>
        <mat-tab label="Fillings and Repair"> Content 2 </mat-tab>
        <mat-tab label="Braces"> Content 3 </mat-tab>
        <mat-tab label="Root Canal"> Content 3 </mat-tab>
        <mat-tab label="Teeth Whitening"> Content 3 </mat-tab>

      </mat-tab-group>

    </mat-tab> -->
</mat-tab-group>

</div>
