<div style="height: 100%;">
  <mat-toolbar style="background-color: #008080 ; color:#fff;" class="shadow-sm ">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <img src="http://pluspng.com/img-png/free-png-teeth-animated-tooth-1019.png" height="48px" width="48px" alt="">
        Gonzales David Dental CLinic</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>
          <mat-icon>home</mat-icon>
          HOME
        </a>
        <a href="#" mat-button [matMenuTriggerFor]="menu">
          <mat-icon>message</mat-icon>
          SERVICE
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Tooth extraction</button>
            <button mat-menu-item>Fillings and Repair</button>
            <button mat-menu-item>Braces</button>
            <button mat-menu-item>Root canal</button>
            <button mat-menu-item>Teeth Whitening</button>
          </mat-menu>
        </a>

        <a mat-button (click)="scrollToContact(contactus)">
          <mat-icon>phone</mat-icon>
          CONTACT US
        </a>

        <a [routerLink]="['/login']" mat-button>
          <mat-icon>login</mat-icon>
          LOGIN
        </a>
        <a [routerLink]="['/create-account']" mat-button>
          <mat-icon>person_add</mat-icon>
          CREATE ACCOUNT
        </a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" mat-list-item>
          <mat-icon>notifications</mat-icon>
          Notifications
        </a>
        <a mat-list-item [matMenuTriggerFor]="menu">
          <mat-icon>message</mat-icon>
          SERVICE
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Tooth extraction</button>
            <button mat-menu-item>Fillings and Repair</button>
            <button mat-menu-item>Braces</button>
            <button mat-menu-item>Root canal</button>
            <button mat-menu-item>Teeth Whitening</button>
          </mat-menu>
        </a>
        <a (click)="scrollToContact(contactus);sidenav.toggle()" mat-list-item>
          <mat-icon>account_box</mat-icon>
          CONTACT US
        </a>
        <a [routerLink]="['/login']" mat-list-item>
          <mat-icon>lock</mat-icon>
          LOGIN
        </a>
        <a [routerLink]="['/create-account']" mat-list-item>
          <mat-icon>lock</mat-icon>
          CREATE ACCOUNT
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

      <header>
        <section class='hero-header'>
          <br>
          <br>
          <br>
          <p class="fw-semibold fs-1">
            <i>
              "Life is short.
              Smile while you still have teeth."
            </i>
          </p>

        </section>
      </header>


      <div class="container mt-5">
        <div class="row px-0 mx-0">
          <div class="col-md-12 col-lg-12 px-0 mx-0">

            <div class="decorated header-title mb-4 mt-4">
              <span>ABOUT US</span>
            </div>

            <div class="row">
              <div class="col-md-3 col-lg-3">

              </div>
              <div class="col-md-6 col-lg-6">
                <div class="d-flex justify-content-centers">
                  Gonzales David is committed to operate the best chain of dental clinics that delivers the highest
                  quality dental care at the most affordable cost to our customers. Our vision is to be the most admired
                  and preferred name in dental care through the processes we establish, the people we employ, the
                  customer service we deliver, the quality of products and services we provide and the overall
                  experience we create for our customers
                </div>
              </div>
              <div class="col-md-3 col-lg-3">

              </div>
              <!-- <div class="col-md-6 col-lg-6">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quisquam unde eos repudiandae, aliquid labore, sed perferendis temporibus ipsum ex accusantium nam repellat quam adipisci ullam quasi molestias ratione culpa.
                    </div> -->
            </div>

            <div class="decorated header-title mb-4 mt-4">
              <span>SERVICE</span>
            </div>

            <div class="row">
              <div class="col-md-3 col-lg-3">

              </div>
              <div class="col-md-6 col-lg-6">
                <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button style="background-color: #008080; color: #fff;" class="accordion-button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            Fillings
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            - A lay term used for the restoring of lost tooth structure by using materials such as
                            metal, alloy, plastic or porcelain. Amalgam - Single surface silver filling. Composite -
                            Single surface composite filling (white or tooth colored) performed on a tooth in the front
                            of the mouth
                            <mat-tab-group>
                              <mat-tab label="Price"> Price </mat-tab>
                              <mat-tab label="Images"> Images </mat-tab>

                            </mat-tab-group>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button style="background-color: #008080; color: #fff;" class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Root canals
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            - The portion of the pulp cavity inside the root of a tooth; the chamber within the root of
                            the tooth that contains the pulp
                            <mat-tab-group>
                              <mat-tab label="Price"> Price </mat-tab>
                              <mat-tab label="Images"> Images </mat-tab>

                            </mat-tab-group>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button style="background-color: #008080; color: #fff;" class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Extractions
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            The process or act of removing a tooth or tooth parts. Simple tooth extraction not requiring
                            sectioning of the tooth or other extraordinary procedures for removal. Filling - A lay term
                            used for the restoring of lost tooth structure by using materials such as metal, alloy,
                            plastic or porcelain.
                            <mat-tab-group>
                              <mat-tab label="Price"> Price </mat-tab>
                              <mat-tab label="Images"> Images </mat-tab>

                            </mat-tab-group>
                          </div>
                        </div>
                      </div>
                      <!--  -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button style="background-color: #008080; color: #fff;" class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                            aria-controls="collapseFour">
                            Cosmetic Dentistry
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            - Also called esthetic or aesthetic dentistry. Procedures that correct imperfections in the appearance of a smile. Can include teeth whitening, veneers, etc.
                            <mat-tab-group>
                              <mat-tab label="Price"> Price </mat-tab>
                              <mat-tab label="Images"> Images </mat-tab>

                            </mat-tab-group>
                          </div>
                        </div>
                      </div>
                      <!--  -->
                      <!--  -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                          <button style="background-color: #008080; color: #fff;" class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                            aria-controls="collapseFive">
                            Whitening
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Tooth color is determined by several factors. Both the enamel and the dentin play roles in
                            the determination of what color is seen in the oral cavity. Both the enamel and the dentin
                            are formed by millions of tiny crystals in a lipid/protein matrix.
                            <mat-tab-group>
                              <mat-tab label="Price"> Price </mat-tab>
                              <mat-tab label="Images"> Images </mat-tab>

                            </mat-tab-group>
                          </div>
                        </div>
                      </div>
                      <!--  -->

                      <!--  -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                          <button style="background-color: #008080; color: #fff;" class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                            aria-controls="collapseSix">
                            Porcelain and composite veneers
                          </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            In the construction of crowns or pontics, a layer of tooth-colored material usually, but not
                            limited to, composite, porcelain, ceramic or acrylic resin, attached to the surface by
                            direct fusion, cementation, or mechanical retention; also refers to a restoration that is
                            luted to the facial surface of a tooth.
                            <mat-tab-group>
                              <mat-tab label="Price"> Price </mat-tab>
                              <mat-tab label="Images"> Images </mat-tab>

                            </mat-tab-group>
                          </div>
                        </div>
                      </div>
                      <!--  -->

                      <!--  -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                          <button style="background-color: #008080; color: #fff;" class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                            aria-expanded="false" aria-controls="collapseSeven">
                            Crowns
                          </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            - Simple crown procedure utilizing a porcelain crown fused to non-precious metal and not
                            involving complicated prep. Restoration covering or replacing the major part, or the whole,
                            of the clinical crown of a tooth.
                            <mat-tab-group>
                              <mat-tab label="Price"> Price </mat-tab>
                              <mat-tab label="Images"> Images </mat-tab>

                            </mat-tab-group>
                          </div>
                        </div>
                      </div>
                      <!--  -->

                      <!--  -->
                      <!--  -->
                      <!--  -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                          <button style="background-color: #008080; color: #fff;" class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false"
                            aria-controls="collapseNine">
                            Full and partial dentures
                          </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Snap-on dentures, also called implant-supported dentures or overdentures, are held in place
                            not just by the gums, but by either a few remaining teeth or by metal posts that are
                            implanted in the jawbone
                            <mat-tab-group>
                              <mat-tab label="Price"> Price </mat-tab>
                              <mat-tab label="Images"> Images </mat-tab>

                            </mat-tab-group>
                          </div>
                        </div>
                      </div>
                      <!--  -->

                      <!--  -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTen">
                          <button style="background-color: #008080; color: #fff;" class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false"
                            aria-controls="collapseTen">
                            Implants
                          </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            - A device specially designed to be placed surgically within or on the mandibular or
                            maxillary bone as a means of providing for dental replacement; endosteal (endosseous);
                            eposteal subperiosteal); transosteal (transosseous).
                            <mat-tab-group>
                              <mat-tab label="Price"> Price </mat-tab>
                              <mat-tab label="Images"> Images </mat-tab>

                            </mat-tab-group>
                          </div>
                        </div>
                      </div>
                      <!--  -->

                      <!--  -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEleven">
                          <button style="background-color: #008080; color: #fff;" class="accordion-button collapsed"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven"
                            aria-expanded="false" aria-controls="collapseEleven">
                            Orthodontics Braces
                          </button>
                        </h2>
                        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Orthodontics aims to move the teeth into a stable position. It works by putting pressure on
                            the teeth, to slowly move them in the right direction. As the pressure takes effect, the
                            bone in the jaw changes to allow the teeth and their roots to move.
                            <mat-tab-group>
                              <mat-tab label="Price"> Price </mat-tab>
                              <mat-tab label="Images"> Images </mat-tab>

                            </mat-tab-group>s
                          </div>
                        </div>
                      </div>
                      <!--  -->


                    </div>
                  </div>
                </div>
                <!-- <ul>
                        <li>Fillings</li>
                        <li>root canals</li>
                        <li>Extractions</li>
                        <li>Cosmetic Dentistry</li>
                        <li>whitening</li>
                        <li>Porcelain and composite veneers</li>
                        <li>Crowns</li>
                        <li>bridges</li>
                        <li>Full and partial dentures</li>
                        <li>Implants</li>
                        <li>Orthodontics Braces</li>
                      </ul> -->
              </div>
              <div class="col-md-3 col-lg-3">

              </div>
              <!-- <div class="col-md-6 col-lg-6">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quisquam unde eos repudiandae, aliquid labore, sed perferendis temporibus ipsum ex accusantium nam repellat quam adipisci ullam quasi molestias ratione culpa.
                    </div> -->
            </div>


            <div class="decorated header-title mb-4 mt-4">
              <span>CONTACT US</span>
            </div>

            <div class="row" #contactus>
              <div class="col-md-3 col-lg-3">

              </div>
              <div class="col-md-6 col-lg-6">
                <div class="row">
                  <div class="col-md-6">
                    <strong>Place</strong>
                  </div>
                  <div class="col-md-6">
                    #638 San Jose St., Puelay, Villasis, Pangasinan
                  </div>
                </div>
                <!--  -->
                <div class="row">
                  <div class="col-md-6">
                    <strong>Contact Number</strong>
                  </div>
                  <div class="col-md-6">
                    09204893390
                  </div>
                </div>
                <!--  -->
                <div class="row">
                  <div class="col-md-6">
                    <strong>Email </strong>
                  </div>
                  <div class="col-md-6">
                    drrizzadentalclinic@gmail.com
                  </div>
                </div>
                <!--  -->
                <div class="row">
                  <div class="col-md-6">
                    <strong>Owner </strong>
                  </div>
                  <div class="col-md-6">
                    Ritchie David Gonzales
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">

              </div>
              <!-- <div class="col-md-6 col-lg-6">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quisquam unde eos repudiandae, aliquid labore, sed perferendis temporibus ipsum ex accusantium nam repellat quam adipisci ullam quasi molestias ratione culpa.
                    </div> -->
            </div>

            <div class="decorated header-title mb-4 mt-4">
              <span>MAP</span>
            </div>

            <div class="row mb-4 mt-4">
              <div class="col-md-3 col-lg-3">

              </div>
              <div class="col-md-6 col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3837.269562957248!2d120.58692511449122!3d15.894942588988837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33913916cf63224d%3A0xe77dff7d0cf8b1a!2sSan%20Jose%2C%20Villasis%2C%20Pangasinan!5e0!3m2!1sen!2sph!4v1667929708668!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              <div class="col-md-3 col-lg-3">

              </div>
            </div>



          </div>
        </div>
      </div>


      <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
        <footer>
          <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
              <div class="row ">
                <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">

                  <h3>GONZALES DAVID DENTAL CLINIC</h3>

                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                  <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                  <ul class="list-unstyled" style="cursor: pointer;">
                    <li style="color: #fff !important;">Home</li>
                    <li style="color: #fff !important;">About</li>
                    <li style="color: #fff !important;">Blog</li>
                    <li style="color: #fff !important;">Portfolio</li>
                  </ul>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                  <h6 class="mb-3 mb-lg-4 bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                  <p style="color: #fff !important;" class="mb-1">#638 San Jose St., Puelay, Villasis, Pangasinan</p>
                </div>
              </div>
              <div class="row ">
                <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end"
                  style="color: #fff !important;">
                  <p class="social mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook"
                        aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square"
                        aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter"
                        aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram"
                        aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span>All Rights
                    Reserved.</small>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                  <h6 class="mt-55 mt-2 bold-text">
                    <b>Email Address</b>
                  </h6><small style="color: #fff !important;"><span><i class="fa fa-envelope"
                        aria-hidden="true"></i></span> anirudh@gmail.com</small>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                  <h6 class="bold-text"><b>Facebook</b></h6><small><span><i class="fa fa-envelope"
                        aria-hidden="true"></i></span> rishab@gmail.com</small>
                </div>
              </div>
            </div>
          </div>
          <button mat-button class="" (click)="gototop()" style=" position: fixed;  background-color: #008080;
                bottom: 0px;
                right: 0px; ">
            <mat-icon style="position: relative;
                   margin-right: 10px;
                   top: -2px;
                   left: 5px;
                   color: #fff;
                  ">
              keyboard_arrow_up
            </mat-icon>
          </button>
        </footer>
      </div>



    </mat-sidenav-content>
  </mat-sidenav-container>





</div>
