

<h2 mat-dialog-title>Add Appointment</h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">
  <form [formGroup]="createform">







    <div class="row">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Appointment Date </mat-label>
          <input readonly [matDatepicker]="picker" [min]="myDate" formControlName="appointmentdate" matInput
            placeholder="" value="">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <mat-form-field class="full-width">
          <mat-label>Appointment Time</mat-label>
          <mat-select formControlName="appointmenttime">

            <mat-option value="7:30am - 8:30am">7:30am - 8:30am</mat-option>
            <mat-option value="7:30am - 8:30am">8:30am - 9:30am</mat-option>
            <mat-option value="9:30am - 10:30am">9:30am - 10:30am</mat-option>
            <mat-option value="10:30am - 11:30am">10:30am - 11:30am</mat-option>
            <mat-option value="1:30pm - 2:30pm">1:30pm - 2:30pm</mat-option>
            <mat-option value="2:30pm - 3:30pm">2:30pm - 3:30pm</mat-option>
            <mat-option value="4:30pm - 5:30pm">4:30pm - 5:30pm</mat-option>

          </mat-select>
        </mat-form-field>

      </div>
    </div>


    <div class="row">
      <div class="col-md-12 col-lg-12">

        <mat-form-field class="full-width">
          <mat-label>Select an service</mat-label>
          <mat-select class="example-full-width" disableRipple  formControlName="category" >
            <mat-option *ngFor="let service of ServiceValues" [value]="service?.service_name">{{service?.service_name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field class="full-width">
          <mat-label>Choose Visit Category</mat-label>
          <mat-select multiple formControlName="category" placeholder="Choose Visit Category">
            <mat-option value="Tooth extraction">Tooth extraction</mat-option>
            <mat-option value="Fillings and Repair">Fillings and Repair</mat-option>
            <mat-option value="Braces">Braces</mat-option>
            <mat-option value="Root canal">Root canal</mat-option>
            <mat-option value="Teeth Whitening">Teeth Whitening</mat-option>
          </mat-select>
        </mat-form-field> -->

      </div>
    </div>



  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Add</button>
</mat-dialog-actions>
