<h1 mat-dialog-title>Add Appointment</h1>
<mat-dialog-content style="width: 350px;">



  <div class="row form-group">
   <div class="col-md-6 col-lg-6">
    Fullname
   </div>
   <div class="col-md-6 col-lg-6">
    Joseph Nuezca
   </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      Fullname
     </div>
     <div class="col-md-6 col-lg-6">
      Joseph Nuezca
     </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      Fullname
     </div>
     <div class="col-md-6 col-lg-6">
      Joseph Nuezca
     </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      Fullname
     </div>
     <div class="col-md-6 col-lg-6">
      Joseph Nuezca
     </div>
  </div>



</mat-dialog-content>
<div mat-dialog-actions style="float: right;">
  <button mat-button mat-dialog-close>Close</button>
</div>
