<div style="height: 100%;">

  <div class="container mt-5">
    <div class="row px-0 mx-0">
      <div class="col-md-12 col-lg-12 px-0 mx-0">
        <div class="decorated header-title mb-4 mt-4">
          <span>
            MISSION
          </span>
        </div>

        <div class="row">
          <div class="col-md-3 col-lg-3">
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="d-flex justify-content-centers">
              In response to the needs of the stakeholders, ICF aims to deliver effective instructions that involve the
              acquisition of advance knowledge, middle level skills, and values reformation across disciplines and
              professions; more so of creative and critical thinking, problem solving, and decision making skills.
            </div>
          </div>
          <div class="col-md-3 col-lg-3">
          </div>
        </div>


        <div class="decorated header-title mb-4 mt-4">
          <span>
            VISION
          </span>
        </div>

        <div class="row">
          <div class="col-md-3 col-lg-3">
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="d-flex justify-content-centers">
              A dynamic formal educational institution known for its competence and effectiveness; thus, producing
              educative outcomes competitive to 21st century global learning; appropriate educative system designed to
              intervene the continual changing conditions in the world of work and socio-cultural diversities thru the
              provision and utilization of academic sufficiency, digital learning skills, and research in consonance
              with outcomes-based curriculum.
            </div>
          </div>
          <div class="col-md-3 col-lg-3">
          </div>
        </div>


        <div class="decorated header-title mb-4 mt-4">
          <span>
            CONTACT US
          </span>
        </div>
        <div class="row" #contactus>
          <div class="col-md-3 col-lg-3">
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="row">
              <div class="col-md-6">
                <strong>
                  Place
                </strong>
              </div>
              <div class="col-md-6">
                #638 San Jose St., Puelay, Villasis, Pangasinan
              </div>
            </div>
            <!-- -->
            <div class="row">
              <div class="col-md-6">
                <strong>
                  Contact Number
                </strong>
              </div>
              <div class="col-md-6">
                09204893390
              </div>
            </div>
            <!-- -->
            <div class="row">
              <div class="col-md-6">
                <strong>
                  Email
                </strong>
              </div>
              <div class="col-md-6">
                drrizzadentalclinic@gmail.com
              </div>
            </div>
            <!-- -->
            <div class="row">
              <div class="col-md-6">
                <strong>
                  Owner
                </strong>
              </div>
              <div class="col-md-6">
                Ritchie David Gonzales
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3">
          </div>
        </div>
        <div class="decorated header-title mb-4 mt-4">
          <span>
            MAP
          </span>
        </div>
        <div class="row mb-4 mt-4">
          <div class="col-md-3 col-lg-3">
          </div>
          <div class="col-md-6 col-lg-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3837.269562957248!2d120.58692511449122!3d15.894942588988837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33913916cf63224d%3A0xe77dff7d0cf8b1a!2sSan%20Jose%2C%20Villasis%2C%20Pangasinan!5e0!3m2!1sen!2sph!4v1667929708668!5m2!1sen!2sph"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
          <div class="col-md-3 col-lg-3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button mat-button class="" (click)="gototop()" style=" position: fixed;  background-color: #008080;
    bottom: 0px;
    right: 0px; ">
    <mat-icon style="position: relative;
        margin-right: 10px;
        top: -2px;
        left: 5px;
        color: #fff;
        ">
      keyboard_arrow_up
    </mat-icon>
  </button> -->
</div>
