// mat-sidenav-content {
//   // background-image: url('https://cdn.pixabay.com/photo/2017/08/05/14/59/chair-2584260_960_720.jpg');
//   background-image:
//   linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(0.83,0.83,0.83)),
//   url('https://cdn.pixabay.com/photo/2017/08/05/14/59/chair-2584260_960_720.jpg');
//   width: 80%;
//   height: 400px;
//   background-size: cover;
//   color: white;
//   padding: 20px;
// }

// ::ng-deep .mat-drawer-content{
//   height: 100%px !important;
//   overflow: hidden !important;
// }

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

// img {
//   height: 450px;
//   object-fit: cover;
// }

// mat-toolbar {
// background-color:transparent
// position: sticky;
// position: -webkit-sticky; /* For macOS/iOS Safari */
// top: 0; /* Sets the sticky toolbar to be on top */
// z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
// }

.decorated {
  overflow: hidden;
  text-align: center;
}
.decorated > span {
  position: relative;
  display: inline-block;
}
.decorated > span:before,
.decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #333;
  width: 90vw;
  margin: 0 20px;
}
.decorated > span:before {
  right: 100%;
}
.decorated > span:after {
  left: 100%;
}

// /* headlines with lines */
@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #333;
    font-weight: 600;
  }

  // .price-image img{
  //   display: block;
  //   width: 100%;
  //   object-fit: cover;
  // }
}
@media only screen and (min-width: 600px) {
  .header-title {
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #333;
    font-weight: 600;
  }
  // .price-image img{
  //   display: block;
  //   width: 100%;
  //   object-fit: cover;
  // }
}
@media only screen and (min-width: 768px) {
  .header-title {
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #333;
    font-weight: 600;
  }
  // .price-image img{
  //   height: auto;
  //   display: block;
  //   width: 100%;
  //   object-fit: cover;
  // }
}
@media (min-width: 992px) {
  .header-title {
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #333;
    font-weight: 600;
  }
  .label-end {
    display: flex;
    justify-content: flex-end;
  }
  // .price-image img{
  //   height: auto;
  //   display: block;
  //   width: 100%;
  //   object-fit: cover;
  // }
}

.custom-shape-divider-bottom-1627488606 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627488606 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 257px;
}

.custom-shape-divider-bottom-1627488606 .shape-fill {
  fill: #417505;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #fff !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #008080;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

h3 {
  color: #fff;
}

//NEW
a {
  color: #fff;
}

a:link {
  color: #fff;
}

header {
  height: 450px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  background: #cee4e5; /* fallback for old browsers */
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(30, 161, 161, 0.8)),
    url("https://ak9.picdn.net/shutterstock/videos/1012330649/thumb/12.jpg"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(30, 161, 161, 0.8)),
    url("https://ak9.picdn.net/shutterstock/videos/1012330649/thumb/12.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}
