table {
  width: 100%;
}
.title-page{
  padding: 20px;
  background-color: #008080;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}


.button-in-search-text {
  font-weight: 400;
  size: 14px;
  line-height: 21px;
}

.customized_add_btn{
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #000;
  border:  1px solid #e5e5e5;
  background-color: #e5e5e5;
}
.customized_add_btn:hover{
  background-color: rgb(0, 89, 255);
  color: white;
}

.customized_add_btn_delete{
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border:  1px solid #e5e5e5;
  background-color: #F51720;
}


.customized_add_btn_edit{
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border:  1px solid #e5e5e5;
  background-color: #3DB2FF;
}
// .customized_add_btn_delete:hover{
//   background-color: rgb(0, 89, 255);
//   color: white;
// }



input {
  border: 0;
  outline: 0;
  width: 192px;
  background: transparent;
  border-bottom: 1px solid black;
}

.indicator{
  margin-top: 12px;
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 10px;
}

.pagi-arrow{
  color: rgb(117, 117, 117);
  outline: none;
}

:host::ng-deep .mat-table thead{
  background-color: #e5e5e5;

}

:host::ng-deep .mat-table thead tr{
  height: 40px;


}


:host::ng-deep mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: #e5e5e5;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}


.table-container{
  height: 400px;
  overflow: auto;
}


.mat-tab-label {
  font-size: 18px;
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
  color: #000;
}


::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: #fff;
  padding: 20px;
  background-color: teal;
}
