<div class="row" style=" padding: 0px; margin: 0px;">
  <div class="col-md-12 col-lg-12">
    <h1 mat-dialog-title style="margin-top: 20px;">Warning</h1>
  </div>
</div>
<mat-dialog-content style="width: 400px; padding: 0px; margin: 0px;">

  <div class="row" style=" padding: 0px; margin: 0px;">
    <div class="col-md-12 col-lg-12">
      <p>Are you sure want to delete this?</p>
    </div>
  </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Confirm</button>
</mat-dialog-actions>
