/* You can add global styles to this file, and also import other style files */

// body {
//     margin: 0;
//     padding: 0;
// }

html, body { margin: 0; padding: 0; }

::ng-deep .toast-top-center {
  top: 30px !important;
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


table {
  width: 100%;
}
.title-page{
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #000;
  margin-top: 60px;
}


.button-in-search-text {
  font-weight: 400;
  size: 14px;
  line-height: 21px;
}

.customized_add_btn{
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #000;
  border:  1px solid #e5e5e5;
  background-color: #e5e5e5;
}
.customized_add_btn:hover{
  background-color: rgb(0, 89, 255);
  color: white;
}

.customized_add_btn_delete{
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border:  1px solid #e5e5e5;
  background-color: #F51720;
}


.customized_add_btn_edit{
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #fff;
  border:  1px solid #e5e5e5;
  background-color: #3DB2FF;
}
// .customized_add_btn_delete:hover{
//   background-color: rgb(0, 89, 255);
//   color: white;
// }



input {
  border: 0;
  outline: 0;
  width: 192px;
  background: transparent;
  border-bottom: 1px solid black;
}

.indicator{
  margin-top: 12px;
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 10px;
}

.pagi-arrow{
  color: rgb(117, 117, 117);
  outline: none;
}

:host::ng-deep .mat-table thead{
  background-color: #e5e5e5;

}

:host::ng-deep .mat-table thead tr{
  height: 40px;


}


:host::ng-deep mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: #e5e5e5;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}


.table-container{
  height: 400px;
  overflow: auto;
}



.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}

.app-full-bleed-dialog-p-10 .mat-dialog-container {
  padding-top: 10px !important;
	padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}


.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}
