<div class="row" style="padding: 0px; margin: 0px;">
  <div class="col-md-12 col-lg-12">
    <h1 mat-dialog-title style="margin-top: 20px;">Details</h1>
    <hr>
  </div>
</div>
<mat-dialog-content style="width: 400px; padding: 0px; margin: 0px;">

  <div class="row form-group" style="padding: 0px; margin: 0px;">
    <div class="col-md-4 col-lg-4">
      <label for=""><b>Requestor</b></label>
    </div>
    <div class="col-md-8 col-lg-8">
      {{elementData.element?.reuqestor}}
    </div>
  </div>

  <div class="row form-group" style="padding: 0px; margin: 0px;">
    <div class="col-md-4 col-lg-4">
      <label for=""><b>Department</b></label>
    </div>
    <div class="col-md-8 col-lg-8">
      {{elementData.element?.department}}
    </div>
  </div>

  <div class="row form-group" style="padding: 0px; margin: 0px;">
    <div class="col-md-4 col-lg-4">
      <label for=""><b>Purpose</b></label>
    </div>
    <div class="col-md-8 col-lg-8">
      {{elementData.element?.purpose}}
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end" style="margin-bottom: 20pxx;">
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
