.decorated{
  overflow: hidden;
  text-align: center;
}
.decorated > span{
position: relative;
display: inline-block;
}
.decorated > span:before, .decorated > span:after{
content: '';
position: absolute;
top: 50%;
border-bottom: 1px solid #333;
width: 90vw;
margin: 0 20px;
}
.decorated > span:before{
right: 100%;
}
.decorated > span:after{
left: 100%;
}


// /* headlines with lines */
@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

  // .price-image img{
  //   display: block;
  //   width: 100%;
  //   object-fit: cover;
  // }

}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  // .price-image img{
  //   display: block;
  //   width: 100%;
  //   object-fit: cover;
  // }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  // .price-image img{
  //   height: auto;
  //   display: block;
  //   width: 100%;
  //   object-fit: cover;
  // }

}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
  // .price-image img{
  //   height: auto;
  //   display: block;
  //   width: 100%;
  //   object-fit: cover;
  // }
 }


 .example-full-width {
  width: 100%;
}

.title-page{
  padding: 20px;
  background-color: #008080;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}



// header {
//   height: 100vh;
//   width: 100%;
//   text-align: center;
//   padding-top: 100px;
//   color: white;
//   overflow: hidden;
//   background: #cee4e5;  /* fallback for old browsers */
//   background: linear-gradient(rgb(72,0,72,0.8), rgb(30,161,161,0.8)), url("https://ak9.picdn.net/shutterstock/videos/1012330649/thumb/12.jpg");  /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(rgb(72,0,72,0.8), rgb(30,161,161,0.8)), url("https://ak9.picdn.net/shutterstock/videos/1012330649/thumb/12.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   background-size:cover;
//   background-repeat: no-repeat;
// }

//

.custom-shape-divider-bottom-1627488606 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1627488606 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 257px;
}

.custom-shape-divider-bottom-1627488606 .shape-fill {
  fill: #21868c;
}

table {
  width: 100%;
}
.title-page{
  padding: 20px;
  background-color: #008080;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #fff;
}


.button-in-search-text {
  font-weight: 400;
  size: 14px;
  line-height: 21px;
}

.customized_add_btn{
  border-radius: 90px;
  padding: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 120px;
  color: #000000;
  border:  1px solid #e5e5e5;
  background-color: #e5e5e5;
}
.customized_add_btn:hover{
  background-color: rgb(0, 89, 255);
  color: white;
}



// input {
//   border: 0;
//   outline: 0;
//   width: 192px;
//   background: transparent;
//   border-bottom: 1px solid black;
// }

.indicator{
  margin-top: 12px;
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 10px;
}

.pagi-arrow{
  color: rgb(117, 117, 117);
  outline: none;
}

:host::ng-deep .mat-table thead{
  background-color: #e5e5e5;

}

:host::ng-deep .mat-table thead tr{
  height: 40px;


}


:host::ng-deep mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-color: #e5e5e5;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}


.table-container{
  height: 400px;
  overflow: auto;
}

p{
  color: #000 !important;
}

strong {
  color: #000 !important;

}



.material-icons-custom {
  color: #000 !important;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.aligned-with-icon {
  font-size: 26px;
  color: #000 !important;
  position: absolute;
  margin-top: 2px;
  margin-left: 5px; /* optional */
}


