<div class="row">
  <div class="col-md-2 col-lg-2 col-sm-12">
    <button class="add-custodian" (click)="createRoom()">Add</button>
  </div>
</div>


<div class="container">

  <div class="row mt-3">
    <div class="col-md-12 col-lg-12">


      <div style="float:left">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input style="color: #000;" matInput type="text" #inp>
        </mat-form-field>
        <!-- button -->
        <button (click)="applyFilter(inp.value)" class=" btn customized_add_btn">
          Search
        </button>
      </div>


      <div style="float: right;">
        <div class="px-0 mx-0" style="height: 45px;">
          <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
            [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>



    </div>
  </div>


  <div class="table-container mt-3 mb-5">
    <table mat-table [dataSource]="datasoure">

      <ng-container matColumnDef="number">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> No. </th>
        <td style="width: auto;" mat-cell *matCellDef="let element; let i = index">
          {{i + (this.paginate.pageSize * this.paginate.page) + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="full_name">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Name </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.fname}} &nbsp; {{element.mname}} &nbsp;
          {{element.lname}} </td>
      </ng-container>

      <ng-container matColumnDef="contact">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Contact </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">{{element.contact_no}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Date </th>
        <td style="width: auto;" mat-cell *matCellDef="let element"> {{element.ceated_date | date}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Role </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">
          <div *ngIf="element.user_role == 2">
            Custodian
          </div>
          <div *ngIf="element.user_role == 3">
            Adviser
          </div>
          <div *ngIf="element.user_role == 4">
            IT facilitator
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="status">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Status </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">
          <div style="display: flex;">
            <!-- <div *ngIf="element.status == 0">
              <mat-slide-toggle class="example-margin">
                Deactivated
              </mat-slide-toggle>
            </div>
            <div *ngIf="element.status == 9">
              <mat-slide-toggle class="example-margin">
                Activated
              </mat-slide-toggle>
            </div> -->
            <mat-slide-toggle checked="{{element.status == 9 ? 'true': 'false'}}"
              (change)="onSlideToggleChange($event, element.id)">
              {{element.status == 9 ? 'Activated': 'Deactivated'}}
            </mat-slide-toggle>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="controls">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> Control </th>
        <td style="width: auto;" mat-cell *matCellDef="let element">

          <div style="display: flex;">
            <div style="margin-right: 10px;">
              <button mat-raised-button (click)="onclickEdit(element.id)">Update</button>
            </div>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displaycolumn; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displaycolumn;"></tr>
    </table>

  </div>

  <div *ngIf="!datasoure">
    <h1>There are no records yet</h1>
  </div>

</div>
