<h2 mat-dialog-title></h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

<p>Are you sure want to delete this data?</p>


<form [formGroup]="createform">



<div class="row">
  <div class="col-md-12 col-lg-12">
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput  formControlName="comment"></textarea>
    </mat-form-field>
  </div>
</div>


</form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="deleteAppointment()">Yes</button>
</mat-dialog-actions>

<!-- (click)="onSubmit()" -->
