
<!-- <div *ngIf="!show"> -->

  <h1 mat-dialog-title>Reason</h1>

  <mat-dialog-content  style="width: 350px;" >

    <p>Hello {{name}}, The admin was rejected the schedule that you were created.</p>





</mat-dialog-content>
<div mat-dialog-actions style="float: right;">
  <button mat-button mat-dialog-close>Cancel</button>
</div>




<!-- </div> -->

<!--
<div *ngIf="hide">

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div style="display:flex; justify-content:center;">
        <div class="title-page">
          SUCCESS
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12 col-lg-12">



      <div class="alert alert-success" style="height: 80px;" role="alert">

        <div class="row">
          <div class="col-md-12 col-gl-12" style="align-content: center;">
            Thank you for registration!
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div style="float: right;">
              <button mat-button [routerLink]="['/client-page/home']">BACK</button>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>


</div> -->
